# Web UI
# ======

# Web UI override config section
#web_ui:
    # Override header background image, string URL
    #header_background_custom: ""

    # Override header logo (top right), string URL
    #header_logo_custom: "/static/logo_cloud_deploy.png"

    # Override header menu background color, hexadecimal color value
    #header_menu_background_color: "#415560"
