html, body {
  height: 100%;
  overflow-y: hidden;
}
.page-wrap {
  min-height: 100%;
  background: #fff;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer {
  background:  #F2F2F2;
  border-top: 1px solid #e4e4e4;
  z-index: 10000;
  height: 42px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.site-footer span {
    color: #666;
    padding: 11px;
}
.site-footer span.right {
    float: right;
}
.site-footer span.left {
    float: left;
}
.site-footer span.doc {
    padding-left: 0;
    padding-right: 0;
}
.site-footer span.doc a {
    padding-left: 11px;
    padding-right: 11px;
    border-left: 2px solid #666;
    border-right: 2px solid #666;
}
.site-footer span a {
    color: #666;
}
#topHeader {
    background-color: #FFF;
    color: #253741;
}
#topHeader img {
    vertical-align: top;
}
#topHeader .pull-left {
    padding-top: 5px;
    padding-left: 15px;
}
#topHeader .pull-left:hover {
    text-decoration: none;
}
#logo_cloud_deploy {
    margin-left: 10px;
}
.navbar.navbar-inverse {
    background-color: #415560;
    color: #fff;
}
button.navbar-toggle {
    color: #9D9D9D;
    background-color: #333;
}
.navbar {
    margin-bottom: 0;
}
#navbar .nav.navbar-nav li a {
    padding: 5px 15px;
    font-weight: bold;
}
.nav.navbar-nav li > a:hover {
    background-color: #eee;
}
#navbar ul.nav.navbar-nav {
    height: auto;
}
#navbar > .nav.navbar-nav > li > a:hover {
    background: #d9002a;
    color: #eee;
}
#navbar.collapse.in .ghost-logo {
    display: none;
}
.container[role=main] {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.ghost-titlebar {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    margin-bottom: 5px;
}
.ghost-titlebar.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.table.tablelist {
    margin-bottom: 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-group {
  margin-bottom: 2px;
}

span.index:after {
  content: " " counter(group_entry);
}
.caret.right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.ghost-titlebar {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
}
.ghost-titlebar h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin: 5px 0 0 0;
}
#ajaxSpinnerContainer {
    position: absolute;
    top: 5px;
    left: 49%;
    background: white;
    border-radius: 16px;
}
.panel .row {
  margin: 0;
}
.ghost-titlebar .action-btns li a, .action-btns li {
    padding: 5px;
}
.ghost-titlebar .action-btns li .input-group {
    padding: 5px;
}
ul.nav.navbar-nav {
    height: 50px;
}
#navbar.collapse.in ul.nav.navbar-nav {
    height: auto;
}
 .navbar-nav>li.filter> a,
 .navbar-nav>li.filter> .input-group {
    padding: 11px;
}
 .navbar-nav>li.filter> .input-group {
    width: 300px;
    padding: 9px;
}
 .navbar-nav>li.filter> .input-group input {
    height: 22px;
    padding: 4px;
}
 .navbar-nav>li.filter> .input-group.expanded {
    width: 500px;
}
 .navbar-nav>li.filter .dropdown-menu {
     min-width: auto;
 }
  .nav .right {
      float: right;
  }
  .nav .right .navbar-nav{
      margin-top: 20px;
  }
  .nav .right .navbar-nav>li.filter> .togglebutton label {
      color: #333;
  }

/*fixed left-menu*/
.navbar-fixed-left {
    left: 0;
    top:  200px;
    position: fixed;
}
.app-panel {
    margin-left: 15%;
}
#left-menu {
    width: 15%;
    height: 100%;
    overflow-y: auto;
}
#left-menu .subnav li {
    list-style-type: decimal;
    color:  #31B0D5;
}
#left-menu .subnav li a i {
    color:  #31B0D5;
}
#left-menu .subnav.env li {
    list-style-type: disc;
    color:  #31B0D5;
}
#left-menu li.quick-submit {
    padding: 20px 0;
    text-align: center;
}
/*AppEdit*/
td.inline .form-group {
    width: 50%;
    float: left;
}
#features_list td.inline .form-group {
    width: 33.33333333%;
    margin: 0;
}
#features_list td.inline .form-group label {
    display: block;
    text-align: left;
    width: 100%;
}
td.inline {
    clear: both;
}
.btn-select-append-option {
    display: none;
}
.select-generic-options .btn-select-append-option {
    display: inline-block;
}
.warning-big-instance-type.bootstrap-select.btn-group > button.dropdown-toggle span {
    color: darkorange;
    font-weight: bold;
}
#app-form textarea {
    font-family: Consolas, Courier New, Courier, monospace;
    border: 1px solid #eee;
    border-left: 30px solid #F7F7F7;
    min-height: 100px;
    margin-top: 20px;
}
#app-form .CodeMirror {
    border: 1px solid #eee;
    height: auto !important;
    max-width: 1000px;
}
#app-form #features_list tr.draggable,
#menu-modules-list li.draggable {
    padding: 4px;
}
#app-form #features_list tr.draggable:hover,
#menu-modules-list li.draggable:hover {
    cursor: pointer;
    border: 2px dashed #ccc;
    padding: 2px;
}
#app-form .refresh-select {
    position: relative;
    right: 0;
    top: -45px;
    float: right;
    padding: 12px;
    margin: 0 0 -45px 0;
}
#app-form .features-presets-group {
    position: relative;
    padding: 0 15px;
}
#app-form .features-presets-group label,
#app-form .features-presets-group select,
#app-form .features-presets-group .feature-import,
#app-form .features-presets-group .bootstrap-select {
    float: left;
    margin-right: 10px;
}
#app-form .features-presets-group .feature-import {
    margin-top: 15px
}
#app-form .form-group.script-panel,
#app-form .form-group.select-panel {
    padding-right: 40px;
    margin-top: 10px;
}
#app-form .form-group:hover .help-block {
    display: block;
}
#app-form th {
    font-weight: normal;
    padding: 8px 14px;
}
#app-form .panel-heading span.subtitle {
    font-size: 12px;
}
#app-form .btn.add-entry {
    margin: 1px;
    padding: 8px 16px;
}
.command_options #modules_list tbody td,
#app-form #features_list td,
#app-form #log_notifications_list td {
    padding: 0 8px;
}
.command_options #modules_list th,
#app-form #features_list th,
#app-form #log_notifications_list th {
    vertical-align: middle;
}
.command_options #modules_list th {
    width: 20%;
}

.command_options #modules_list.table {
    table-layout: fixed;
}

.command_options #modules_list.table .col-lg-offset-2 {
    margin-left: auto;
}

.command_options #modules_list.table td.inline .form-group {
    width: 100%;
    float: left;
}

.command_options .modules_list {
    max-height: 450px;
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.command_options #modules_list.table td[id*=available_revisions] {
    display: none;
}

.command_options #modules_list.table .checkbox label {
    text-align: left;
}

#app-form #check_provider_creds {
    float: right;
}

/*AppList*/
.apptable {
    border: 3px solid #eee;
}
.table.col-md-6 {
    width: 50%;
    max-width: 50%;
}
.app-infos {
    width: 90%;
}
.app-infos-wrap {
    padding: 0;
    margin: 0;
}
.app-infos-wrap li {
    float: left;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
}
.app-infos-wrap a.instance-item {
    display: inline-block;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    color: #333;
}
.instance-item {
    border: 1px solid transparent;
}
.app-infos-wrap a.instance-item.focus {
    background-color: #e3e3e3;
}
.app-infos-wrap a.instance-item,
.app-infos-wrap a.instance-item:hover {
    text-decoration: none !important;
}
.app-infos-wrap a.instance-item:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none !important;
}
.app-infos-wrap a.instance-item span.ionicons {
    font-size: 42px;
    display: block;
}
.app-infos-wrap a.instance-item span.instance-id {
    padding-left: 3px;
}
.app-infos-wrap li a.instance-item.running span.ionicons {
    color: #5FA443; /*Green Morea logo*/
/*    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1); */
}
.app-infos-wrap li a.instance-item.stopped span.ionicons {
    color: #f44336;
}
.zone.col-md-6 {
    padding: 12px;
}
fieldset.well.the-fieldset {
    border: 2px groove #eee;
    border-radius: 5px;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
fieldset.well.the-fieldset legend.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 5px;
}
fieldset.well.the-fieldset legend.the-legend h4 {
    display: inline;
}
#as-instance-details p {
    white-space: normal;
}

#as-elb a.btn-primary.btn-colored, .hl-primary {border: 1px solid #009688}
#as-elb a.btn-success.btn-colored, .hl-success {border: 1px solid #4caf50}
#as-elb a.btn-info.btn-colored,    .hl-info    {border: 1px solid #03a9f4}
#as-elb a.btn-warning.btn-colored, .hl-warning {border: 1px solid #ff5722}

/*Blue Green Elements*/
.tablelist tr.app-row .app-is-bluegreen {
    background: linear-gradient(to right bottom, #03a9f4 50%, #4caf50 50%);
    color: white;
    padding: 3px;
    text-align: center;
}
.tablelist tr.app-row .app-is-bluegreen a {
    color: white;
}
.sticker {
    color: white;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* App tabbeb list */
#tabbed-apps {
    background: #fafafa;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
#tabbed-apps ul.nav {
    background: #fafafa;
    color: #333;
    margin-left: -2px;
    margin-right: -2px;
}
#tabbed-apps ul.nav li.active {
    background: #ddd;
    border: 2px solid #ddd;
    border-bottom: 0 none;
}
#tabbed-apps ul.nav li a {
    color: #009688 !important;
    cursor: pointer;
}
#tabbed-apps ul.nav li.active a {
    font-weight: bold;
}

/*Generic List*/
.top-right {
    float: right;
}
#loadmoreajaxloader td, #backtotop td {
    text-align: center;
}
.tablelist {
    counter-reset: rowindex;
}
.tablelist tr td{
    white-space: nowrap;
}

#tabbed-apps ul.nav li.active.env-prod,
.tablelist tr.env-prod {
    background-color: #f3e5f5;
}
.tablelist tr.env-prod:hover {
    background-color: #e1bee7;
}
#tabbed-apps ul.nav li.active.env-staging,
#tabbed-apps ul.nav li.active.env-preprod,
#tabbed-apps ul.nav li.active.env-oat,
.tablelist tr.env-staging,
.tablelist tr.env-preprod,
.tablelist tr.env-oat {
    background-color: #D9EDF7;
}
.tablelist tr.env-staging:hover,
.tablelist tr.env-preprod:hover,
.tablelist tr.env-oat:hover {
    background-color: #C4E3F3;
}
#tabbed-apps ul.nav li.active.env-dev,
#tabbed-apps ul.nav li.active.env-demo,
#tabbed-apps ul.nav li.active.env-int,
.tablelist tr.env-dev,
.tablelist tr.env-demo,
.tablelist tr.env-int {
    background-color: #FCF8E3;
}
.tablelist tr.env-dev:hover,
.tablelist tr.env-demo:hover,
.tablelist tr.env-int:hover {
    background-color: #FAF2CC;
}
#tabbed-apps ul.nav li.active.env-test,
#tabbed-apps ul.nav li.active.env-uat,
.tablelist tr.env-test,
.tablelist tr.env-uat {
    background-color: #efebe9;
}
.tablelist tr.env-test:hover,
.tablelist tr.env-uat:hover {
    background-color: #d7ccc8;
}

.tablelist th.status {
    background-color: #415560;
    color: white;
}
.tablelist th.status-cancelled {
    background-color: #333;
}
.tablelist th.status-aborted {
    background-color: #aaa;
}
.tablelist th.status-started {
    background-color: #03A9F4;
}
.tablelist th.status-failed {
    background-color: #F44336;
}
.tablelist th.status-done {
    background-color: #4CAF50;
}
.tablelist th span.index:before {
    counter-increment: rowindex;
    content: counter(rowindex);
}
.tablelist th span.index:after {
    content: "";
}
.tablelist .btn.btn-raised {
    padding: 10px 15px;
    margin: 10px 5px 0 0;
}
.action-btns li a, .action-btns li {
    float: left;
}
.action-btns a {    
    cursor: pointer;
}
.action-btns li a:hover {
    background: transparent;
}
.action-btns ul.dropdown-menu li {
    width: 100%;
}
/*JobView*/
.jobview #log {
    clear: both;
    font-family: monospace;
    color: white;
    background: #222;
    height: 375px;
    overflow: scroll;
    position: relative;
    resize: both;
    padding: 0;
    counter-reset: line;
}
.jobview #log samp {
    display: block;
    padding-left: 20px;
}
.jobview #log em:before
,.jobview #log samp:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  color: #666;
  width: 42px;
}
.jobview #log .panel {
    margin: 0
}
.jobview #log .panel-body {
    padding: 0 20px 0 0;
}
.jobview #log em {
    display: block;
    padding: 5px 10px 5px 20px;
    font-style: normal;
    color: #f1f1f1;
    border-radius: 0;
    background: #333;
}
.jobview #log .panel.expandable em {
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIHdpZHRoPSIxMCI+CjxwYXRoIGQ9Im0wLjUsMS41LDQuNSw3LDQuNS03eiIgc3Ryb2tlPSIjNTU1IiBzdHJva2Utd2lkdGg9IjAuNSIgZmlsbD0iIzY2NiIvPgo8L3N2Zz4KCg==) 5px 10px no-repeat #2b2b2b;
}
.jobview #log .panel.expandable.closed em {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAiIHdpZHRoPSIxMCI+CjxwYXRoIGQ9Ik0yLDksOSw1LDIsMXoiIHN0cm9rZT0iIzU1NSIgc3Ryb2tlLXdpZHRoPSIwLjUiIGZpbGw9IiM2NjYiLz4KPC9zdmc+Cgo=) 5px 10px no-repeat #333;
}
.jobview #log .panel.closed .panel-body {
/*    height: 0;
    visibility: hidden;*/
    display: none;
}
.jobview #log .info em {
    color: #FFFFB6;
}
.jobview #log .ok em {
    color: #aed581;
}
.jobview #log .failed em {
    color: #f44336;
}
.jobview #log .panel-body {
    color: #f1f1f1;
    background: #222;
}
.jobview #log .timeinterval {
    color: #aed581;
    float: right;
    background-color: #666;
    border-radius: 6px;
    padding: 0 4px;
}
.jobview #log .timeinterval i {
    margin-left: 5px;
}
.jobview .logactions {
    padding-bottom: 10px;
}
.jobview .logactions p {
    float: right;
    position: relative;
    top: -10px;
    margin: 0;
    height: 30px;
}
.jobview #logCollapseAll {
    font-size: 1.5em;
}
.log-panel.fullscreen {
    position: fixed;
    bottom: 30px;
    top: 130px;
    left: 10px;
    right: 10px;
}
.log-panel.fullscreen #log {
    position: absolute;
    bottom: 0;
    height: auto;
    top: 40px;
    left: 0;
    right: 0;
}
/*Command*/
.command_options {
    margin: 10px 0;
}

.blue-green-delete-warning {
    padding: 7px;
    display: inline-block;
    border-radius: 3px;
}

/*Halth*/
.health-elt {
    text-align: center;
}
.health-elt .material-icons {
    vertical-align: bottom;
}
/**
** Material fixes
**/

body {
    background-color: #f5f5f5;
}
.form-group {
    margin: 0;
}
label.control-label
,.form-group .checkbox label
,.form-group label.control-label {
    color: #555;
}
.navbar-nav>li.filter> .input-group input::-webkit-input-placeholder { font-size: 12px; }
.navbar-nav>li.filter> .input-group input:-moz-placeholder { font-size: 12px; }
.navbar-nav>li.filter> .input-group input::-moz-placeholder { font-size: 12px; }
.navbar-nav>li.filter> .input-group input:-ms-input-placeholder { font-size: 12px; }
ul.filter-group {
    margin-top: 10px;
}
li.quick-submit button.btn.btn-xs {
    padding: 4px 6px;
}
button.btn.dropdown-toggle {
    border: 1px solid #CCC;
    padding-left: 5px;
    text-transform: inherit;
}
#as-elb {
    margin-bottom: 10px;
    margin-top: -15px;
}
#as-elb a.btn {
    text-transform: inherit;
    border: 1px solid transparent;
    padding: 8px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
** Responsive
**/
@media (max-width: 1769px) {
    .nav-stacked>li {
        float: left;
    }
}
