body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.navbar.navbar-inverse {
    background-color: #222;
    color: #9D9D9D
}
#navbar .nav.navbar-nav li a {
    padding: 15px;
}
.nav.navbar-nav li > a:hover {
    background-color: #eee;
}
#navbar > .nav.navbar-nav > li > a:hover {
    color: #fff;
    background-color: #333;
}
.container[role=main] {
    width: 100%;
}
.navbar-fixed-top {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
}
.navbar-fixed-top.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-group {
  margin-bottom: 2px;
}

span.index:after {
  content: " " counter(group_entry);
}
.caret.right {
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.sidebar {
    padding-left: 10px;
    padding-right: 10px;
 }
.sidebar-outer {
    position: relative;
}
#ajaxSpinnerContainer {
    position: absolute;
    top: 5px;
    left: 49%;
}
.panel .row {
  margin: 0;
}

/*fixed top sidebar*/
.sidebar.navbar-fixed-top {
    top: 50px;
    background: white;
    z-index: 999;
}
.sidebar.navbar-fixed-top h1 {
    font-size: 20px;
    margin: 5px 0 0 0;
}
.sidebar.navbar-fixed-top .action-btns li a, .action-btns li {
    padding: 5px;
}
.sidebar.navbar-fixed-top .action-btns li .input-group {
    padding: 5px;
}
ul.nav.navbar-nav {
    height: 50px;
}
 .navbar-nav>li.filter> a,
 .navbar-nav>li.filter> .input-group {
    padding: 11px;
}
 .navbar-nav>li.filter> .input-group {
    width: 300px;
    padding: 9px;
}
 .navbar-nav>li.filter> .input-group input {
    height: 22px;
    padding: 4px;
}
 .navbar-nav>li.filter> .input-group.expanded {
    width: 500px;
}
 .navbar-nav>li.filter .dropdown-menu {
     min-width: auto;
 }
/*fixed left-menu*/
.navbar-fixed-left {
    left: 0;
    top:  200px;
    position: fixed;
}
.app-panel {
    margin-left: 15%;
}
#left-menu {
    width: 15%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#left-menu .subnav li {
    list-style-type: decimal;
    color:  #31B0D5;
}
#left-menu .subnav.env li {
    list-style-type: disc;
    color:  #31B0D5;
}
#left-menu li.quick-submit {
    padding: 20px 0;
    text-align: center;
}
.anchor {
  display: block;
  height: 150px; /*same height as header*/
  margin-bottom: -150px; /*same height as header*/
  visibility: hidden;
}
.fixed-top-menu .anchor {
    margin-top: -150px;
    margin-bottom: 0;
}
/*AppEdit*/
td.inline .form-group {
    width: 50%;
    float: left;    
}
td.inline {
    clear: both;
}

/*AppList*/
.apptable {
    border: 3px solid #eee;
}
.table.col-md-6 {
    width: 50%;
    max-width: 50%;
}
.app-infos {
    width: 90%;
}
.app-infos-wrap {
    padding: 0;
    margin: 0;
}
.app-infos-wrap li {
    float: left;
    list-style: none;
    margin-right: 10px;
}
.app-infos-wrap a.instance-item {
    display: inline-block;
    text-align: center;
}
.app-infos-wrap a.instance-item,
.app-infos-wrap a.instance-item:hover {
    text-decoration: none !important;
}
.app-infos-wrap a.instance-item:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none !important;
}
.app-infos-wrap a.instance-item span.glyphicon {
    font-size: 60px;
    margin-right: 3px;
    display: block;
}
.app-infos-wrap a.instance-item span.instance-id {
    padding-left: 3px;
}
.app-infos-wrap li a.instance-item.running span.glyphicon {
    /*color: #a5d6a7;*/
    color: #8bc34a;
    font-size: 60px;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
.app-infos-wrap li a.instance-item.stopped span.glyphicon {
    /*color: #ef9a9a;*/
    color: #f44336;
    font-size: 60px;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}
.popover-title {
    color: #333;
}
.standalone-header {
    clear: both;
}

/*Generic List*/
.top-right {
    float: right;
}
#loadmoreajaxloader td {
    text-align: center;
}
.tablelist {
    counter-reset: rowindex;
}
.tablelist tr td{
    white-space: nowrap;
}

.tablelist tr.env-prod {
    background-color: #f3e5f5;
}
.tablelist tr.env-prod:hover {
    background-color: #e1bee7;
}
.tablelist tr.env-staging,
.tablelist tr.env-preprod {
    background-color: #D9EDF7;
}
.tablelist tr.env-staging:hover,
.tablelist tr.env-preprod:hover {
    background-color: #C4E3F3;
}
.tablelist tr.env-dev,
.tablelist tr.env-demo {
    background-color: #FCF8E3;
}
.tablelist tr.env-dev:hover,
.tablelist tr.env-demo:hover {
    background-color: #FAF2CC;
}
.tablelist tr.env-test {
    background-color: #efebe9;
}
.tablelist tr.env-test:hover {
    background-color: #d7ccc8;
}

.tablelist th.status {
    background-color: #333;
    color: white;
}
.tablelist th.status-failed {
    background-color: #c9302c;
}
.tablelist th.status-done {
    background-color: #5cb85c;
}
.tablelist th span.index:before {
    counter-increment: rowindex;
    content: counter(rowindex);
}
.tablelist th span.index:after {
    content: "";
}
.action-btns li a, .action-btns li {
    float: left;
}
.action-btns li a:hover {
    background: transparent;
}
.action-btns ul.dropdown-menu li {
    width: 100%;
}
/*JobView*/
.jobview #log {
    clear: both;
    font-family: monospace;
    color: white;
    background: #222222;
    height: 375px;
    overflow: scroll;
    position: relative;
    resize: both;
}
.jobview .logactions {
    padding-bottom: 10px;
}
.jobview .logactions p {
    float: right;
    position: relative;
    top: -10px;
    margin: 0;
    height: 30px;
}
.log-panel.fullscreen {
    position: fixed;
    bottom: 0px;
    top: 140px;
    left: 10px;
    right: 10px;
}
.log-panel.fullscreen #log {
    position: absolute;
    bottom: 0;
    height: auto;
    top: 40px;
    left: 0;
    right: 0;
}
/*Command*/
.command_options {
    margin: 10px 0;
}

/**
** Material fixes
**/

body {
    background-color: #f5f5f5;
}
.form-group {
    margin: 0;
}
label.control-label
,.form-group label.control-label {
    color: #555;
}
.navbar-nav>li.filter> .input-group input::-webkit-input-placeholder { font-size: 12px; }
.navbar-nav>li.filter> .input-group input:-moz-placeholder { font-size: 12px; }
.navbar-nav>li.filter> .input-group input::-moz-placeholder { font-size: 12px; }
.navbar-nav>li.filter> .input-group input:-ms-input-placeholder { font-size: 12px; }
ul.filter-group {
    margin-top: 10px;
}
li.quick-submit button.btn.btn-xs {
    padding: 4px 6px;
}
button.btn.dropdown-toggle {
    border: 1px solid #CCC;
    padding-left: 5px;
    text-transform: inherit;
}

/**
** Responsive
**/
@media (max-width: 1769px) {
    .nav-stacked>li {
        float: left;
    }
}
