#tabbed-apps ul.nav li a {
    color: #9c27b0 !important;
}

/*Env colors*/
#tabbed-apps ul.nav li.active.env-prod,
.tablelist tr.env-prod {
    background-color: #f3e5f5;
}
.tablelist tr.env-prod:hover {
    background-color: #e1bee7;
}
#tabbed-apps ul.nav li.active.env-staging,
#tabbed-apps ul.nav li.active.env-preprod,
#tabbed-apps ul.nav li.active.env-oat,
.tablelist tr.env-staging,
.tablelist tr.env-preprod,
.tablelist tr.env-oat {
    background-color: #D9EDF7;
}
.tablelist tr.env-staging:hover,
.tablelist tr.env-preprod:hover,
.tablelist tr.env-oat:hover {
    background-color: #C4E3F3;
}
#tabbed-apps ul.nav li.active.env-dev,
#tabbed-apps ul.nav li.active.env-demo,
#tabbed-apps ul.nav li.active.env-int,
.tablelist tr.env-dev,
.tablelist tr.env-demo,
.tablelist tr.env-int {
    background-color: #FCF8E3;
}
.tablelist tr.env-dev:hover,
.tablelist tr.env-demo:hover,
.tablelist tr.env-int:hover {
    background-color: #FAF2CC;
}
#tabbed-apps ul.nav li.active.env-test,
#tabbed-apps ul.nav li.active.env-uat,
.tablelist tr.env-test,
.tablelist tr.env-uat {
    background-color: #efebe9;
}
.tablelist tr.env-test:hover,
.tablelist tr.env-uat:hover {
    background-color: #d7ccc8;
}

/* Job status colors*/
.tablelist th.status {
    background-color: #415560;
    color: white;
}
.tablelist th.status-cancelled {
    background-color: #333;
}
.tablelist th.status-aborted {
    background-color: #aaa;
}
.tablelist th.status-started {
    background-color: #03A9F4;
}
.tablelist th.status-failed {
    background-color: #F44336;
}
.tablelist th.status-done {
    background-color: #4CAF50;
}

/* Deployment state icons */
.state-fully-deployed {
    color: #4caf50;
}

.state-half-deployed {
    color: #fbc02d;
}

.state-not-deployed {
    color: #f44336;
}

/* ELB colors */
#as-elb a.btn-primary.btn-colored, .hl-primary {border: 1px solid #9c27b0}
#as-elb a.btn-success.btn-colored, .hl-success {border: 1px solid #4caf50}
#as-elb a.btn-info.btn-colored,    .hl-info    {border: 1px solid #03a9f4}
#as-elb a.btn-warning.btn-colored, .hl-warning {border: 1px solid #fbc02d}
