body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.container[role=main] {
    width: 100%;
}
.navbar-fixed-top {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
    box-shadow: 0px 5px 5px 0px rgba(2,2,2,0.5);
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-group {
  margin-bottom: 2px;
}

span.index:after {
  content: " " counter(group_entry);
}

.sidebar {
    padding-left: 10px;
    padding-right: 10px;
 }
.sidebar-outer {
    position: relative;
}

.panel .row {
  margin: 0;
}

/*AppList*/
.apptable {
    border: 3px solid #eee;
}
#createApp {
    display: inline;
}

/*Generic List*/
.tablelist tr td{
    white-space: nowrap;
}

.tablelist tr.env-prod {
    background-color: #ffcdd2;

}
.tablelist tr.env-preprod {
    background-color: #e0f2f1;
}

.tablelist th.status {
    background-color: #333;
    color: white;
}
.tablelist th.status-failed {
    background-color: #c9302c;
}
.tablelist th.status-done {
    background-color: #5cb85c;
}

/*JobView*/
.jobview #log {
    font-family: monospace;
    color: white;
    background: #222222;
    height: 700px;
    overflow: scroll;
    position: relative;
}

/**
** Responsive
**/
@media (max-width: 1769px) {
    .nav-stacked>li {
        float: left;
    }
}
