body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-group {
  margin-bottom: 2px;
}

span.index:after {
  content: " " counter(group_entry);
}

.sidebar {
    padding-left: 10px;
    padding-right: 10px;
 }
.sidebar-outer {
    position: relative;
}

.panel .row {
  margin: 0;
}

/** 
** OCR https://github.com/STuFF/ghostExt
**  
**/
.apptable {
    border: 3px solid #eee;
}

/*JobList*/
.joblist tr td {
    white-space: nowrap;
}
.joblist tr.env-prod {
    background-color: rgba(217, 83, 79, 0.1);

}
.joblist tr.env-preprod {
    background-color: rgba(51, 122, 183, 0.1);
}

.joblist th.status {
    background-color: #333;
    color: white;
}
.joblist th.status-failed {
    background-color: #c9302c;
}
.joblist th.status-done {
    background-color: #5cb85c;
}

/*JobView*/
.jobview #log {
    font-family: monospace;
    color: white;
    background: black;
    height: 700px;
    overflow: scroll;
    position: relative;
}

/**
** Responsive
**/
@media (min-width: 1770px) {
    .sidebar {
        position: fixed;
        width: 372px
    }
}

@media (max-width: 1769px) {
    .nav-stacked>li {
        float: left;
    }
}
