body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-group {
  margin-bottom: 2px;
}

span.index:after {
  content: " " counter(group_entry);
}

.sidebar-outer {
    position: relative;
}
@media (min-width: 1770px) {
    .sidebar {
        position: fixed;
        width: 372px
    }
}