{% extends "base.html" %}

{% block page_header %}
    <ul class="nav nav-stacked action-btns">
        <li>
            <a href='{{request.referer}}'><button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</button></a>
        </li>
        <li>
            <a href='/web/apps'><button class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Applications List</button></a>
        </li>
        <li>
            <a href='/web/jobs'><button class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Jobs List</button></a>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    <h2>Oops. Page not found</h2>
    <hr/>
    <div>The requested page could not be found.</div>
{% endblock %}