{% extends "base.html" %}

{% set page_title = 'Action completed' %}

{% block page_header %}
    <ul class="nav nav-stacked action-btns">
    {% if not form_action == 'delete' %}
        <li>
            <a href='{{request.referer}}'><button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</button></a>
        </li>
    {% endif %}
        <li>
            <a href='/web/apps'><button class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Applications List</button></a>
        </li>
        <li>
            <a href='/web/jobs'><button class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Jobs List</button></a>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    {% if action_object_type == 'apps' and action_object_id %}
    <ul class="nav nav-stacked action-btns">
        <li>
            <a href="/web/apps/{{ action_object_id }}/command"><button class="btn btn-raised btn-default"><span class="glyphicon glyphicon-console"></span> App Run Command</button></a>
        </li>
        <li>
            <a href="/web/apps/{{ action_object_id }}/edit"><button class="btn btn-raised btn-warning"><span class="glyphicon glyphicon-edit"></span> App Edit</button></a>
        </li>
    </ul>
    {% endif %}
    {% if cmd_recommendations and not message.startswith('{"_status": "ERR"'): %}
    <div class="bs-callout bs-callout-warning">
        <h4>Recommended actions:</h4>
        {% for cmd_field in cmd_recommendations %}
        {% set cmd   = cmd_field['command'] %}
        {% set field = cmd_field['field'] %}
        <p>
            <span>
                Because the attribute <strong>{{ field }}</strong> has been modified, you need to run
                <a href="/web/apps/{{ action_object_id }}/command/{{ cmd }}" target="_blank"><button class="btn btn-xs btn-raised btn-default"><span class="glyphicon glyphicon-console"></span> {{ cmd }}</button></a>
            </span>
        </p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" charset="utf-8">
    (function() {
        // After successful job creation, redirect to job view
        var path = $('.alert-success a').attr('href');
        if (path && path.startsWith('/web/jobs/')) {
            window.location.replace(path);
        }
    })();
    </script>
{% endblock %}