{% extends "base.html" %}

{% set page_title = 'Action completed' %}

{% block page_header %}
    <ul class="nav nav-stacked">
        <li>
            <a href='{{request.referer}}'><button class="btn btn-default">Back</button></a>
        </li>
        <li>
            <a href='/web/apps'><button class="btn btn-default">Applications List</button></a>
        </li>
        <li>
            <a href='/web/jobs'><button class="btn btn-default">Jobs List</button></a>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    <h2>Message:</h2>
    <hr/>
    <div>{{ message }}</div>
{% endblock %}
