{% extends "base.html" %}

{% set page_title = edit and ('Edit %s (%s)' % (form.name.data, form.env.data)) or 'Create an Application' %}

{% block page_header %}
    <ul class="nav nav-stacked">
        <li>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="panel panel-default">
            <div class="panel-heading">
                Main properties
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.name, form_type='horizontal', readonly=edit, placeholder='Application Name') }}
                    {{ wtf.form_field(form.region, form_type='horizontal') }}
                    {{ wtf.form_field(form.instance_type, form_type='horizontal') }}
                    {{ wtf.form_field(form.env, readonly=edit, form_type='horizontal') }}
                    {{ wtf.form_field(form.role, readonly=edit, form_type='horizontal') }}
                    {{ wtf.form_field(form.vpc_id, form_type='horizontal') }}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Autoscale
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.autoscale.form.name, form_type='horizontal') }}
                    {{ wtf.form_field(form.autoscale.form.min, form_type='horizontal') }}
                    {{ wtf.form_field(form.autoscale.form.current, form_type='horizontal') }}
                    {{ wtf.form_field(form.autoscale.form.max, form_type='horizontal') }}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Build Infos
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.build_infos.form.ssh_username, form_type='horizontal') }}
                    {{ wtf.form_field(form.build_infos.form.source_ami, form_type='horizontal') }}
                    {{ wtf.form_field(form.build_infos.form.ami_name, form_type='horizontal') }}
                    {{ wtf.form_field(form.build_infos.form.subnet_id, form_type='horizontal') }}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Environment Infos
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.environment_infos.form.instance_profile, form_type='horizontal') }}
                    {{ wtf.form_field(form.environment_infos.form.key_name, form_type='horizontal') }}
                </div>
            </div>
            <div class="panel-heading">
                Root Block Device
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.environment_infos.form.root_block_device_size, form_type='horizontal') }}
                    {{ wtf.form_field(form.environment_infos.form.root_block_device_name, form_type='horizontal') }}
                    {{ ghost_fieldlist(form.environment_infos.form.security_groups, 'security_groups', 'Security Groups', 'security_group', 'Security Group') }}
                    {{ ghost_fieldlist(form.environment_infos.form.subnet_ids, 'subnet_ids', 'Subnets', 'subnet_id', 'Subnet ID') }}
                </div>
            </div>
        </div>

        {{ ghost_fieldlist(form.log_notifications, 'log_notifications', 'Log Notifications', 'log_notification', 'Log Notification') }}
        {{ ghost_fieldlist(form.features, 'features', 'Features', 'feature', 'Feature') }}
        {{ ghost_fieldlist(form.modules, 'modules', 'Modules', 'module', 'Module') }}

        {{ wtf.form_field(form.submit) }}
    </form>
{% endblock %}
