{% extends "base.html" %}

{% set app_color = " [{0}]".format(app['blue_green']['color']) if app.get('blue_green') and app['blue_green'].get('color') else "" %}
{% set page_title = 'Run Command on %s (%s)%s' % (app['name'], app['env'], app_color) %}

{% block page_header %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/codemirror.css')}}?v={{current_revision}}">
{% endblock %}

{% block page_content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-lg-2 required">Application</label><div class="col-lg-10"><div class="form-control">{{ app['name'] }}</div></div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Environment</label><div class="col-lg-10"><div class="form-control">{{ app['env'] }}</div></div>
        </div>
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.command, form_type='horizontal') }}

        <div class="command_options">
            <div class="wrap modules">{{ ghost_command_modules_fieldlist(app, form.modules) }}</div>
            <div class="wrap deploy_id">{{ wtf.form_field(form.deploy_id, form_type='horizontal') }}</div>
            <div class="wrap fabric_execution_strategy">{{ wtf.form_field(form.fabric_execution_strategy, form_type='horizontal') }}</div>
            <div class="wrap rolling_update">{{ wtf.form_field(form.rolling_update, form_type='horizontal') }}</div>
            <div class="wrap rolling_update_strategy">{{ wtf.form_field(form.rolling_update_strategy, form_type='horizontal') }}</div>
            <div class="wrap swapbluegreen_strategy">{{ wtf.form_field(form.swapbluegreen_strategy, form_type='horizontal') }}</div>
            <div class="wrap instance_type">{{ wtf.form_field(form.instance_type, form_type='horizontal') }}</div>
            <div class="wrap skip_salt_bootstrap">{{ wtf.form_field(form.skip_salt_bootstrap, form_type='horizontal') }}</div>
            <div class="wrap subnet">{{ wtf.form_field(form.subnet, form_type='horizontal') }}</div>
            <div class="wrap private_ip_address">{{ wtf.form_field(form.private_ip_address, form_type='horizontal') }}</div>
            <div class="wrap prepare_bg_copy_ami">{{ wtf.form_field(form.prepare_bg_copy_ami, form_type='horizontal') }}</div>
            <div class="wrap purge_delete_elb">{{ wtf.form_field(form.purge_delete_elb, form_type='horizontal') }}</div>
            <div class="wrap execution_strategy">{{ wtf.form_field(form.execution_strategy, form_type='horizontal') }}</div>
            <div class="wrap safe_deployment">{{ wtf.form_field(form.safe_deployment, form_type='horizontal') }}</div>
            <div class="wrap safe_deployment_strategy">{{ wtf.form_field(form.safe_deployment_strategy, form_type='horizontal') }}</div>
            <div class="wrap single_host_instance">{{ wtf.form_field(form.single_host_instance, form_type='horizontal') }}</div>
            <div class="wrap script_module_context">{{ wtf.form_field(form.script_module_context, form_type='horizontal') }}</div>
            <div class="wrap to_execute_script">{{ wtf.form_field(form.to_execute_script, form_type='horizontal') }}</div>
        </div>
        {{ wtf.form_field(form.submit, form_type='horizontal') }}
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('.static', filename='js/cidr_match.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/codemirror.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/mode/shell.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='scripts/app-command.js')}}?v={{current_revision}}"></script>
{% endblock %}

{% macro ghost_command_modules_fieldlist(app, modules_fields) -%}
    <div class="form-group">
        <label class="control-label col-lg-2">Modules</label>
          <div class="col-lg-10">
            <div class="modules_list">
            <table class="table" id="modules_list">
                <thead>
                    <tr>
                        <td class="module-state">
                            {{ app_modules_state(app) }}
                        </td>
                        <td colspan="2">
                            <div class="checkbox">
                                <label>
                                    <input id="deploy_all_modules" type="checkbox"> Deploy all modules
                                </label>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for subform in modules_fields %}
                        <tr id="module_{{ loop.index0 }}" data-modules>
                            {{ subform.hidden_tag() }}
                            <td class="module-state">
                                {{ module_state(app['modules'][loop.index0]) }}
                            </td>
                            <td class="inline td-module-field" id="td-modules-{{ loop.index0 }}-deploy">
                                {{ wtf.form_field(subform['deploy'], form_type='horizontal') }}
                            </td>
                            <td class="inline td-module-field" id="td-modules-{{ loop.index0 }}-rev">
                                <div class="col-lg-10">{{ wtf.form_field(subform['rev'], form_type='horizontal') }}</div>
                                <div class="col-lg-2">
                                    <button data-prefix="modules-{{ loop.index0 }}-rev" class="btn btn-raised btn-xs btn-info retrieve-available-revisions" title="Retrieves all available revisions">
                                        <i class="fa fa-history"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="inline td-module-field" id="td-modules-{{ loop.index0 }}-available_revisions">
                                {{ wtf.form_field(subform['available_revisions'], form_type='horizontal') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div id="module_counter">
                <label>
                    Deployed Modules : <span>0</span>
                </label>
            </div>
        </div>
    </div>
{%- endmacro %}
