{% extends "base.html" %}

{% set page_title = edit and ('Edit %s (%s)' % (form.name.data, form.env.data)) or 'Create an Application' %}

{% block page_header %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/codemirror.css')}}?v={{current_revision}}">
    <ul class="nav nav-stacked">
        <li>
        </li>
    </ul>
    <ul class="nav navbar-fixed-left" id="left-menu">
        <li>
            <a href="#properties">Properties</a>
        </li>
        <li>
            <a href="#autoscale">Autoscale</a>
        </li>
        <li>
            <a href="#loadbalancer">Load Balancer</a>
        </li>
        <li>
            <a href="#build-infos">Build-infos</a>
        </li>
        <li>
            <a href="#env-infos">Environment Infos</a>
            <ul class="subnav env">
                <li>
                    <a href="#instance">Instance</a>
                </li>
                <li>
                    <a href="#root-block">Root Block Device</a>
                </li>
                <li>
                    <a href="#sgs">Security Groups</a>
                </li>
                <li>
                    <a href="#subnets">Subnets</a>
                </li>
                <li>
                    <a href="#volumes">Optional Volumes</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#notifs">Notifications</a>
        </li>
        <li>
            <a href="#lifecycle-hooks">Lifecycle Hooks</a>
        </li>
        <li>
            <a href="#features">Features</a>
        </li>
        <li>
            <a href="#modules">Modules</a>
            {{ ghost_menulist(form.modules, 'modules', 'Modules', 'module', 'Module') }}
        </li>
        <li class="quick-submit">
            <button class="btn btn-raised btn-info btn-xs"><span class="glyphicon glyphicon-ok"></span> {{ form.submit.label.text }}</button>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <form class="form-horizontal app-panel" id="app-form" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <a name="properties" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Main app properties</strong>
                <span class="subtitle"> - global informations</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.name, form_type='horizontal', readonly=edit, placeholder='Application Name') }}
                    {{ wtf.form_field(form.env, readonly=edit, form_type='horizontal') }}
                    {{ wtf.form_field(form.role, readonly=edit, form_type='horizontal') }}

                    {{ wtf.form_field(form.use_custom_identity, form_type='horizontal') }}
                    <div id="identity_provider" style="{{ 'display:none;' if not form.use_custom_identity.data }}">
                        {{ wtf.form_field(form.assumed_account_id, form_type='horizontal', placeholder='Enter the AWS account ID containing the role to assume') }}
                        {{ wtf.form_field(form.assumed_role_name, form_type='horizontal', placeholder='Enter the role to assume in the other AWS account') }}
                        {{ wtf.form_field(form.assumed_region_name, form_type='horizontal', placeholder="Enter a region name if the account you want to assume is linked to a specific region") }}
                        <button class="btn btn-raised btn-info btn-xs" id="check_provider_creds"><i class=" glyphicon glyphicon-refresh"> </i> Check credentials</button>
                    </div>
                </div>
            </div>
        </div>
     <div id="app_options_wrapper">
        <a name="provider" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Cloud Provider properties</strong>
                <span class="subtitle"> - AWS Informations</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.region, form_type='horizontal') }}
                    <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#region" data-call="void(0);"><span class="glyphicon glyphicon-refresh"></span></button>
                    {{ wtf.form_field(form.instance_type, form_type='horizontal') }}
                    <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#instance_type" data-call="ghost_update_ec2_instancetypes($('select#region').val());"><span class="glyphicon glyphicon-refresh"></span></button>
                    {{ wtf.form_field(form.vpc_id, form_type='horizontal') }}
                    <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#vpc_id" data-call="ghost_update_ec2_vpcs($('select#region').val());"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
        </div>

        <a name="autoscale" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Autoscale</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.autoscale.form.as_name, form_type='horizontal') }}
                    <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#autoscale-as_name" data-call="ghost_update_ec2_asgs($('select#region').val());"><span class="glyphicon glyphicon-refresh"></span></button>
                    {{ wtf.form_field(form.autoscale.form.min, form_type='horizontal', placeholder='1') }}
                    {{ wtf.form_field(form.autoscale.form.current, form_type='horizontal', placeholder='2') }}
                    {{ wtf.form_field(form.autoscale.form.max, form_type='horizontal', placeholder='3') }}
                </div>
            </div>
        </div>

        <a name="loadbalancer" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Load Balancer</strong>
                <span class="subtitle"> - options to handle the safe deploy behavior</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.safedeployment.form.lb_type, form_type='horizontal') }}
                    {{ wtf.form_field(form.safedeployment.form.safe_deploy_wait_before, form_type='horizontal') }}
                    {{ wtf.form_field(form.safedeployment.form.safe_deploy_wait_after, form_type='horizontal') }}
                    <div class="haproxy-params" style="{{ 'display:none;' if not form.safedeployment.form.lb_type.data == 'haproxy' }}">
                    {{ wtf.form_field(form.safedeployment.form.haproxy_app_tag, form_type='horizontal') }}
                    {{ wtf.form_field(form.safedeployment.form.haproxy_backend, form_type='horizontal') }}
                    {{ wtf.form_field(form.safedeployment.form.haproxy_api_port, form_type='horizontal') }}
                    </div>
                </div>
            </div>
        </div>

        <a name="build-infos" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Build Infos</strong>
                <span class="subtitle"> - options to bake instance Images</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.build_infos.form.ssh_username, form_type='horizontal', placeholder='admin') }}
                    {{ wtf.form_field(form.build_infos.form.source_ami, form_type='horizontal') }}
                    <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#build_infos-source_ami" data-call="ghost_update_ec2_amis($('select#region').val());"><span class="glyphicon glyphicon-refresh"></span></button>
                    {{ wtf.form_field(form.build_infos.form.subnet_id, form_type='horizontal') }}
                    <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#build_infos-subnet_id" data-call="ghost_update_vpc_subnets($('select#region').val(), $('select#vpc_id').val(), true);"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
        </div>

        <a name="env-infos" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Environment Infos</strong>
                <span class="subtitle"> - all needed to run instances</span>
            </div>
            <div class="panel-body">
                <a name="instance" class="anchor">&nbsp;</a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Instance options
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {{ wtf.form_field(form.environment_infos.form.instance_profile, form_type='horizontal') }}
                            <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#environment_infos-instance_profile" data-call="ghost_update_iam_profiles($('select#region').val());"><span class="glyphicon glyphicon-refresh"></span></button>
                            {{ wtf.form_field(form.environment_infos.form.key_name, form_type='horizontal') }}
                            <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#environment_infos-key_name" data-call="ghost_update_ec2_keys($('select#region').val());"><span class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>
                </div>

                <a name="root-block" class="anchor">&nbsp;</a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Root Block Device
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {{ wtf.form_field(form.environment_infos.form.root_block_device_size, form_type='horizontal', placeholder='30') }}
                            {{ wtf.form_field(form.environment_infos.form.root_block_device_name, form_type='horizontal', placeholder='') }}
                        </div>
                    </div>
                </div>

                <a name="sgs" class="anchor">&nbsp;</a>
                {{ ghost_fieldlist(form.environment_infos.form.security_groups, 'security_groups', 'Security Groups', 'security_group', 'Security Group', '', '', "ghost_update_vpc_sgs($('select#region').val(), $('select#vpc_id').val());") }}
                <a name="subnets" class="anchor">&nbsp;</a>
                {{ ghost_fieldlist(form.environment_infos.form.subnet_ids, 'subnet_ids', 'Subnets', 'subnet_id', 'Subnet ID', '', '', "ghost_update_vpc_subnets($('select#region').val(), $('select#vpc_id').val(), false);") }}
                <a name="volumes" class="anchor">&nbsp;</a>
                {{ ghost_fieldlist(form.environment_infos.form.optional_volumes, 'optional_volumes', 'Optional Volumes', 'optional_volume', 'Optional Volume') }}

            </div>
        </div>

        <a name="notifs" class="anchor">&nbsp;</a>
        {{ ghost_fieldlist(form.log_notifications, 'log_notifications', 'Log Notifications', 'log_notification', 'Log Notification', html_placeholder='ghost-devops@morea.fr') }}

        <a name="lifecycle-hooks" class="anchor">&nbsp;</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Lifecycle hooks</strong>
                <span class="subtitle"> - instance bootstrap scripts</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    {{ wtf.form_field(form.lifecycle_hooks.form.pre_buildimage, form_type='horizontal') }}
                    {{ wtf.form_field(form.lifecycle_hooks.form.post_buildimage, form_type='horizontal') }}
                    {{ wtf.form_field(form.lifecycle_hooks.form.pre_bootstrap, form_type='horizontal') }}
                    {{ wtf.form_field(form.lifecycle_hooks.form.post_bootstrap, form_type='horizontal') }}
                </div>
            </div>
        </div>

        <a name="features" class="anchor">&nbsp;</a>
        {{ ghost_fieldlist(form.features, 'features', 'Features', 'feature', 'Feature', 'inline') }}

        <a name="modules" class="anchor">&nbsp;</a>
        {{ ghost_fieldlist(form.modules, 'modules', 'Modules', 'module', 'Module') }}

        {{ wtf.form_field(form.submit) }}
    </div>
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('.static', filename='js/codemirror.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/mode/shell.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/Sortable.js')}}?v={{current_revision}}"></script>
    <script type="text/javascript">
    (function() {
        $('textarea').each(function(index, elem) {
            var editor = CodeMirror.fromTextArea(elem, {
                lineNumbers: true,
                viewportMargin: Infinity,
                lineWrapping: true,
                mode: 'shell',
            });
            $(this).parent().parent().addClass('script-panel');
        });
        $('.quick-submit').click(function (evt) {
            evt.preventDefault();
            $('#app-form #submit').click();
        });
        var oneDropDone = false;
        var list = document.getElementById("menu-modules-list");
        Sortable.create(list, {
             onEnd: function (/**Event*/evt) {
                if (evt.oldIndex != evt.newIndex) {
                    if (!oneDropDone) {
                        oneDropDone = true;
                        $('#app-form').submit(function () {
                            /* Rewrite indexes for Flask */
                            $('#modules_list tr').each(function(index, mod) {
                                $(this).find('[name]').each(function() {
                                    newModAttr = $(this).attr('name').replace(/modules-[0-9]*-/i, 'modules-'+index+'-');
                                    $(this).attr('name', newModAttr);
                                    $(this).attr('id', newModAttr);
                                });
                            });
                            /* -- TODO Update Manifest trigger
                            if (confirm('Module order has changed. Do you want to update the App MANIFEST ? If No, the MANIFEST will be updated on the next deploy command.')) {
                                $('#app-form').append('<input type="hidden" id="update_manifest" name="update_manifest" value="1">');
                            }*/
                        });
                    }

                    /* DOM Swap */
                    modules = $('#modules_list tr');
                    oldModule = $(modules.get(evt.oldIndex));
                    if (evt.oldIndex > evt.newIndex)
                        $(modules.get(evt.newIndex)).before(oldModule.clone(true));
                    else
                        $(modules.get(evt.newIndex)).after(oldModule.clone(true));
                    oldModule.remove();
                }
            },
        });
        $('#modules_list').on('focusout', 'input[name$="module_name"]', function () {
            var module_name = $(this).val();
            var menu_link = $('ul.navbar-fixed-left li a[href="#'+$(this).parentsUntil('tr').parent().attr('id').replace('_', '-')+'"] span');
            menu_link.text(module_name);
        });
        $('.refresh-select').each(function(index) {
            $(this).prev().addClass('select-panel');
        });
        $('.refresh-select').click(function (evt) {
            evt.preventDefault();
            jsCall = $(this).attr('data-call');
            eval(jsCall);
            selectElt = $(this).attr('data-target');
            $(selectElt).selectpicker('refresh')
        });
        $('#modules_list').on('focusout', 'td input[name$="path"]', function () {
            var path = $(this).val();
            if (path == '/' || path == '/tmp' || path == '/var' || path == '/etc') {
                $(this).popover({
                    content: '<span><i class="glyphicon glyphicon-warning-sign">&nbsp;</i>Module path should not be "/", "/tmp", "/etc" or "/var"</span>',
                    html: true,
                    placement: 'top'
                });
                $(this).popover('show');
            } else {
                $(this).popover('hide');
                $(this).popover('destroy');
            }
        });

        $('#safedeployment-lb_type').change(function() {
            if ($(this).val() == 'haproxy') {
                $('.haproxy-params').show();
            } else {
                $('.haproxy-params').hide();
            }
        });
        $('#use_custom_identity').change(function(evt) {
            if (this.checked) {
                $('#identity_provider').slideDown('slow');
                $('#app_options_wrapper').slideUp('slow');
            } else {
                $('#identity_provider').slideUp('slow');
                $('#app_options_wrapper').slideDown('slow');
            }
        });
    })();
    </script>
{% endblock %}
