{% extends "base.html" %}
{% from "macros.html" import ghost_display_field with context %}
{% from "macros.html" import ghost_abbrev_field with context %}

{% set app_color = " [{0}]".format(app['blue_green']['color']) if app.get('blue_green') and app['blue_green'].get('color') else "" %}
{% set page_title = 'Application: %s (%s/%s) %s' % (app['name'], app['env'], app['role'], app_color) %}
{% set page_title_class = 'to-left' %}

{% block page_header %}
    <ul class="nav nav-stacked action-btns to-right">
        <li>
            <a href="/web/apps/{{ app['_id'] }}/command"><button class="btn btn-raised btn-default"><span class="glyphicon glyphicon-console"></span> Run Command</button></a>
        </li>
        <li>
            <a href="javascript:void(0)"><button href="/web/aws/appinfos/{{ app['_id'] }}" class="btn btn-raised btn-success app-infos-btn" title="View resource details" data-toggle="modal" data-target="#app-infos-{{ app['_id'] }}"><span class="fa fa-sitemap"></span> Resources details</button></a>
        </li>
        <li>
            <a href="/web/apps/{{ app['_id'] }}/edit"><button class="btn btn-raised btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>
        </li>
        <li>
            <a href="/web/apps/create?clone_from={{ app['_id'] }}"><button class="btn btn-raised btn-info"><span class="glyphicon glyphicon-duplicate"></span> Clone</button></a>
        </li>
        <li>
            <a href="/web/apps/{{ app['_id'] }}/delete"><button class="btn btn-raised btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <ul class="nav navbar-fixed-left" id="left-menu">
        {% if cmd_recommendations: %}
        <li>
            <a href="#reco">Recommendations</a>
        </li>
        {% endif %}
        <li>
            <a href="#properties">Properties</a>
        </li>
        <li>
            <a href="#aws">AWS</a>
        </li>
{% if ghost_blue_green %}
        <li>
            <a href="#bluegreen">Blue/Green</a>
        </li>
{% endif %}
        <li>
            <a href="#autoscale">Autoscale</a>
        </li>
        <li>
            <a href="#loadbalancer">Load Balancer</a>
        </li>
        <li>
            <a href="#build-infos">Build-infos</a>
        </li>
        <li>
            <a href="#env-infos">Environment Infos</a>
        </li>
        <li>
            <a href="#env-vars">Environment Variables</a>
        </li>
        <li>
            <a href="#root-block">Root Block Device</a>
        </li>
        <li>
            <a href="#optional-volumes">Optional Volumes</a>
        </li>
        <li>
            <a href="#features">Features</a>
        </li>
        <li>
            <a href="#lifecycle-hooks">Lifecycle Hooks</a>
        </li>
        <li>
            <a href="#modules">Modules</a>
        </li>
    </ul>
    <div class="panel panel-default app-panel" id="app-view">
        {% if cmd_recommendations: %}
            {% set action_object_id = app['_id'] %}
            <a name="reco" class="anchor">&nbsp;</a>
            {% include 'app_recommendations_content.html' %}
        {% endif %}
        <a name="properties" class="anchor">&nbsp;</a>
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-name', 'Name', app['name']) }}
                {{ ghost_display_field('app-id', 'ID', app['_id']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-created', 'Created', app['_created']) }}
                {{ ghost_display_field('app-updated', 'Modified', app['_updated']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-env', 'Environment', app['env']) }}
                {{ ghost_display_field('app-role', 'Role', app['role']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-log_notifications', 'Log Notifications', ', '.join(app.get('log_notifications', []))) }}
            </div>
        </div>

        <a name="aws" class="anchor">&nbsp;</a>
        <div class="panel-heading">AWS</div>
        <div class="panel-body">
            {%- if app['assumed_account_id'] and app['assumed_role_name'] -%}
            {% set app_assumed_arn = "arn:{0}:iam::{1}:role/{2}" %}
            <div class="row">
                {{ ghost_display_field('app-aws-assumed-account', 'Assumed Account ID', app.get('assumed_account_id', '')) }}
                {{ ghost_display_field('app-aws-assumed-role', 'Assumed Role Name', app.get('assumed_role_name', '')) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-aws-assumed-region', 'Assumed Region', app.get('assumed_region', '')) }}
                <label class="control-label col-md-2" for="app-aws-assumed-arn">AWS complete ARN</label>
                <div class="col-md-4">
                    {{ app_assumed_arn.format('aws-cn' if app.get('assumed_region_name', '').startswith('cn-') else 'aws', app['assumed_account_id'], app['assumed_role_name']) }}
                </div>
            </div>
            {%- endif -%}
            <div class="row">
                {{ ghost_display_field('app-aws-region', 'AWS Region', app['region']) }}
                {{ ghost_display_field('app-aws-instance-type', 'AWS Instance Type', app['instance_type']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-aws-instance-type', 'AWS Detailed Instance Monitoring', app.get('instance_monitoring')) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-aws-vpc', 'AWS VPC', app['vpc_id']) }}
                {{ ghost_display_field('app-aws-ami', 'AWS AMI', app['ami']) }}
            </div>
        </div>
{% if ghost_blue_green %}
        <a name="bluegreen" class="anchor">&nbsp;</a>
        <div class="panel-heading">Blue/Green</div>
        {%- if app.get('blue_green') and app['blue_green'].get('alter_ego_id') and app['blue_green']['enable_blue_green'] -%}
        {% set color_class = 'info' if app['blue_green'].get('color', 'blue') == 'blue' else 'success' %}
        <div class="panel-body hl-{{ color_class }}">
            <div class="row">
                {{ ghost_display_field('app-bluegreen-enable', 'Activated', 'True') }}
                <label class="control-label col-md-2" for="app-bluegreen-color">Color</label>
                <div class="col-md-4" id="app-bluegreen-color">
                    <span class="sticker label-{{ color_class }}">{{ app['blue_green']['color'] }}</span>
                </div>
            </div>
            <div class="row">
                {{ ghost_display_field('app-bluegreen-is_online', 'Is online', app['blue_green']['is_online']) }}
                <label class="control-label col-md-2" for="app-bluegreen-alter_ego_id">Associated app</label>
                <div class="col-md-4" id="app-bluegreen-alter_ego_id">
                    <a href="/web/apps/{{ app['blue_green']['alter_ego_id'] }}"><i class="glyphicon glyphicon-link"></i> {{ app['blue_green']['alter_ego_id'] }}</a>
                </div>
            </div>
        {%- else -%}
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-bluegreen-enable', 'Activated', 'False') }}
            </div>
        {%- endif %}
        </div>
{% endif %}
        <a name="autoscale" class="anchor">&nbsp;</a>
        <div class="panel-heading">Autoscale</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-autoscale-name', 'Name', app.get('autoscale', {})['name']) }}
                {{ ghost_display_field('app-autoscale-enable_metrics', 'Auto Scaling Metrics', app.get('autoscale', {})['enable_metrics']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-autoscale-min', 'Min Value', app.get('autoscale', {})['min']) }}
                {{ ghost_display_field('app-autoscale-max', 'Max Value', app.get('autoscale', {})['max']) }}
            </div>
        </div>

        <a name="loadbalancer" class="anchor">&nbsp;</a>
        <div class="panel-heading">Load Balancer</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-lb-type', 'Load Balancer type', app.get('safe-deployment', {})['lb_type']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-lb-safe_deploy_wait_before', 'Time to wait before deployment', app.get('safe-deployment', {})['safe_deploy_wait_before']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-lb-safe_deploy_wait_after', 'Time to wait after deployment', app.get('safe-deployment', {})['safe_deploy_wait_after']) }}
            </div>
        </div>

        <a name="build-infos" class="anchor">&nbsp;</a>
        <div class="panel-heading">Build Infos</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-build_infos-ssh_username', 'SSH username', app.get('build_infos', {})['ssh_username']) }}
                {{ ghost_display_field('app-build_infos-subnet_id', 'Subnet ID', app.get('build_infos', {})['subnet_id']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-build_infos-source_ami', 'Source AMI', app.get('build_infos', {})['source_ami']) }}
                {{ ghost_display_field('app-build_infos-ami_name', 'AMI Name', app.get('build_infos', {})['ami_name']) }}
                {{ ghost_display_field('app-build_infos-source_container', 'Source container image', app.get('build_infos', {}).get('src_container_img', 'No container image')) }}
            </div>
        </div>

        <a name="env-infos" class="anchor">&nbsp;</a>
        <div class="panel-heading">Environment Infos</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-environment_infos-security_groups', 'Security Groups', ', '.join(app.get('environment_infos', {})['security_groups'])) }}
                {{ ghost_display_field('app-environment_infos-subnet_ids', 'Subnets', ', '.join(app.get('environment_infos', {})['subnet_ids'])) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-environment_infos-instance_profile', 'Instance Profile', app.get('environment_infos', {})['instance_profile']) }}
                {{ ghost_display_field('app-environment_infos-key_name', 'Key Name', app.get('environment_infos', {})['key_name']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-environment_infos-public_ip_address', 'Associate public IP address', app.get('environment_infos', {})['public_ip_address']) }}
            </div>
        </div>

        <table class="table">
            <div class="panel-heading">Instance Tags</div>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for itag in app.get('environment_infos', {})['instance_tags'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ itag['tag_name'] }}</td>
                        <td>{{ itag['tag_value'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a name="env-vars" class="anchor">&nbsp;</a>
        <table class="table">
            <div class="panel-heading">Environment Variables</div>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for envvar in app['env_vars'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ envvar['var_key'] }}</td>
                        <td>{{ envvar['var_value'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a name="root-block" class="anchor">&nbsp;</a>
        <div class="panel-heading">Root Block Device</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-environment_infos-root_block_device_size', 'Size (GiB)', app.get('environment_infos', {}).get('root_block_device', {})['size']) }}
                {{ ghost_display_field('app-environment_infos-root_block_device_name', 'Name', app.get('environment_infos', {}).get('root_block_device', {})['name']) }}
            </div>
        </div>

        <a name="optional-volumes" class="anchor">&nbsp;</a>
        <table class="table">
            <div class="panel-heading">Optional Volumes</div>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Device name</th>
                    <th>Volume type</th>
                    <th>Volume size (GB)</th>
                    <th>IOPS</th>
                    <th>Attach volume during buildimage</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in app.get('environment_infos', {}).get('optional_volumes', {}) %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ volume['device_name'] }}</td>
                        <td>{{ volume['volume_type'] }}</td>
                        <td>{{ volume['volume_size'] }}</td>
                        <td>{{ volume['iops'] }}</td>
                        <td>{{ volume['launch_block_device_mappings'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a name="features" class="anchor">&nbsp;</a>
        <table class="table table-features">
            <div class="panel-heading">Features</div>
            <thead>
                <tr>
                    <th class="index">#</th>
                    <th class="provisioner">Provisioner</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in app['features'] %}
                    <tr>
                        <th scope="row" class="index">{{ loop.index }}</th>
                        <td class="provisioner"><img height="25" class="feature-provisioner" data-toggle="tooltip" title="{{ feature['provisioner']|capitalize }} provisioner" alt="{{ feature['provisioner'] }}" src="{{ url_for('static', filename='img/%s.svg' % feature['provisioner']) }}?v={{current_revision}}" /></td>
                        <td>{{ feature['name'] }}</td>
                        <td>
                        {%- if feature['provisioner'] == 'salt' -%}
                            {{ feature['version'] }}
                        {%- else -%}
                            <a tabindex="0" title="" role="button" data-toggle="popover" data-placement="top" data-trigger="focus"  data-container="body"
                               title="Feature {{ feature['name'] }}" data-content="<pre>{{ feature['parameters_pretty'] }}</pre>">
                                {{ feature['parameters_pretty'][:32] }}
                                {%- if feature['parameters_pretty'] | length > 32 -%}&hellip;{%- endif -%}
                            </a>
                        {%- endif -%}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a name="lifecycle-hooks" class="anchor">&nbsp;</a>
        <div class="panel-heading">Lifecycle Hooks</div>
        <div class="panel-body">
            <div class="row">
                <label class="control-label col-md-2" for="lifecycle_hooks-pre_buildimage">Pre Build Image</label>
                <div class="col-md-4" id="lifecycle_hooks-pre_buildimage">
                    {{ ghost_abbrev_field('Pre Buildimage', app.get('lifecycle_hooks', {}).get('pre_buildimage', ''), maxchars=42) }}
                </div>

                <label class="control-label col-md-2" for="lifecycle_hooks-pre_bootstrap">Pre Bootstrap</label>
                <div class="col-md-4" id="lifecycle_hooks-pre_bootstrap">
                    {{ ghost_abbrev_field('Pre Bootstrap', app.get('lifecycle_hooks', {}).get('pre_bootstrap', ''), maxchars=42) }}
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-2" for="lifecycle_hooks-post_buildimage">Post Build Image</label>
                <div class="col-md-4" id="lifecycle_hooks-post_buildimage">
                    {{ ghost_abbrev_field('Post Buildimage', app.get('lifecycle_hooks', {}).get('post_buildimage', ''), maxchars=42) }}
                </div>

                <label class="control-label col-md-2" for="lifecycle_hooks-post_bootstrap">Post Bootstrap</label>
                <div class="col-md-4" id="lifecycle_hooks-post_bootstrap">
                    {{ ghost_abbrev_field('Post Bootstrap', app.get('lifecycle_hooks', {}).get('post_bootstrap', ''), maxchars=42) }}
                </div>
            </div>
        </div>

        <a name="modules" class="anchor">&nbsp;</a>
        <table class="table">
            <div class="panel-heading">Modules</div>
            <thead>
                <tr>
                    <th>#</th>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Git</th>
                    <th>Path</th>
                    <th>Scope</th>
                    <th>Uid / Gid</th>
                    <th>Build Pack</th>
                    <th>Pre Deploy</th>
                    <th>Post Deploy</th>
                    <th>After All Deploy</th>
                    <th>Last Deployment</th>
                </tr>
            </thead>
            <tbody>
                {% for module in app['modules'] %}
                    {% set last_deployment = module['last_deployment'] or {} %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ module_state(module) }}</td>
                        <td>{{ module['name'] }}</td>
                        <td>{{ module['git_repo'] }}</td>
                        <td>{{ module['path'] }}</td>
                        <td>{{ module['scope'] }}</td>
                        <td>{{ module['uid'] }} / {{ module['gid'] }}</td>
                        <td>{{ ghost_abbrev_field('{} / {}'.format(module['name'], 'Build Pack'), module.get('build_pack', '')) }}</td>
                        <td>{{ ghost_abbrev_field('{} / {}'.format(module['name'], 'Pre Deploy'), module.get('pre_deploy', '')) }}</td>
                        <td>{{ ghost_abbrev_field('{} / {}'.format(module['name'], 'Post Deploy'), module.get('post_deploy', '')) }}</td>
                        <td>{{ ghost_abbrev_field('{} / {}'.format(module['name'], 'After All Deploy'), module.get('after_all_deploy', '')) }}</td>
                        <td>
                            <a {% if last_deployment['_id'] %}href="/web/deployments/{{ last_deployment['_id'] }}"{% endif %}>{{ last_deployment['_id'] or '-' }}</a>
                            <br>
                            {{ last_deployment['_created'] or '-' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="app-infos-{{ app['_id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog app-infos" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Resource details of <strong>{{ app['name'] }} / {{ app['role'] }} / {{ app['env'] }}</strong></h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script src="{{url_for('.static', filename='scripts/app-infos.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='scripts/app-view.js')}}?v={{current_revision}}"></script>
{% endblock %}
