{% extends "base.html" %}

{% set page_title = 'Applications' %}

{% block page_header %}
    <caption>Sorted by last modification date</caption>

    <ul class="nav nav-stacked action-btns">
        <li>
            <a href="/web/apps/create" id="createApp"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create an Application</button></a>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    <table class="table tablelist">
        <thead>
            <tr>
                <th>#</th>
                <th>Name / ID</th>
                <th>Created / Modified</th>
                <th>Environment</th>
                <th>Role&nbsp;/<br>Features&nbsp;/<br>Modules</th>
                <th>AWS Region&nbsp;/<br>VPC&nbsp;/<br>Instance Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include 'app_list_content.html' %}
        </tbody>
    </table>
{% endblock %}
