{% for app in apps | sort(reverse=True, attribute='_updated') %}
<tr class="env-{{ app['env'] }}">
    <th scope="row">{{ loop.index }}</th>
    <td>
        <a href="/web/apps/{{ app['_id'] }}">{{ app['name'] }}</a>
        <br>
        {{ app['_id'] }}
    </td>
    <td>
        {{ app['_created'] }}
        <br>
        {{ app['_updated'] }}
        <br>
        by&nbsp;{{ app.get('user', '-') }}
    </td>
    <td>{{ app['env'] }}</td>
    <td>
        {{ app['role'] }}
        <div>
            {%- if app['features'] | length > 0 -%}
                <abbr title="{{ app['features'] | map(attribute='name') | join(', ') }}">
                    {{- app['features'] | map(attribute='name') | join(', ') | truncate(42, True) -}}
                </abbr>
            {%- endif %}
        </div>
        <div>
            {%- if app['modules'] | length > 0 -%}
                <abbr title="{{ app['modules'] | map(attribute='name') | join(', ') }}">
                    {{- app['modules'] | map(attribute='name') | join(', ') | truncate(42, True) -}}
                </abbr>
            {%- endif %}
        </div>
    </td>
    <td>
        {{ app['region'] }}
        <br>
        {{ app['instance_type'] }}
        <br>
        {{ app['vpc_id'] }}
    </td>
    <td>
        <a href="/web/apps/{{ app['_id'] }}/command"><button class="btn btn-default" title="Run Command"><span class="glyphicon glyphicon-console"></span></button></a>
        <a href="/web/apps/{{ app['_id'] }}/edit"><button class="btn btn-warning" title="Edit"><span class="glyphicon glyphicon-edit"></span></button></a>
        <a href="/web/apps/create?clone_from={{ app['_id'] }}"><button class="btn btn-info" title="Clone"><span class="glyphicon glyphicon-duplicate"></span></button></a>
        <a href="/web/apps/{{ app['_id'] }}/delete"><button class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a>
    </td>
</tr>
{% endfor %}
