<div class="bs-callout bs-callout-warning">
    <h4>Recommended actions:</h4>
    {% for cmd_field in cmd_recommendations %}
    {% set cmd     = cmd_field['command'] %}
    {% set field   = cmd_field['field'] %}
    {% set user    = cmd_field['user'] %}
    {% set updated = cmd_field['updated'] %}
    <p>
        <span>
            <a href="/web/apps/{{ action_object_id }}/command/{{ cmd }}" target="_blank"><button class="btn btn-xs btn-raised btn-default"><span class="glyphicon glyphicon-console"></span> {{ cmd }}</button></a>
            <strong>{{ field }}</strong> modified: command <strong>{{ cmd }}</strong> should be ran again.
        </span>
        <small>
            Changes made by <strong>{{ user }}</strong> on the <strong>{{ updated }}</strong>.
        </small>
    </p>
    {% endfor %}
</div>
