<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Resource details of <strong>{{ app['name'] }} / {{ app['role'] }} / {{ app['env'] }}</strong></h4>
</div>
<div class="modal-body">
{%- if hosts | length > 0 -%}
<ul class="app-infos-wrap">
{% for host in hosts %}
    <li class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title {{ host['status'] }}"><span class="glyphicon glyphicon-hdd"></span> &nbsp; {{ host['id'] }}</h5>
        </div>
        <div class="panel-body">
            <p>
                <strong class="label label-default">Subnet</strong>
                subnet-yyyy
            </p>
            <p>
                <strong class="label label-default">Private IP</strong>
                {{ host['private_ip_address'] }}
            </p>
            <p>
                <strong class="label label-default">Public IP</strong>
                x.x.X.x
            </p>
            <p>
                <strong class="label label-default">toto</strong>
                tatata
            </p>
        </div>
    </li>
{% endfor %}
</ul>
{%- else %}
<p>No instance found for the app '{{ app['name'] }} / {{ app['env'] }} / {{ app['role'] }}'</p>
{%- endif %}
</div>
<div class="modal-footer" style="clear:both;"></div>