{% extends "base.html" %}

{% set page_title = 'Application Details' %}

{% block page_content %}
    <h1>Application Details</h1>
    <div class="panel panel-default">
        <div class="panel-heading">{{ app['name'] }}</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-name', 'Name', app['name']) }}
                {{ ghost_display_field('app-id', 'ID', app['_id']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-created', 'Created', app['_created']) }}
                {{ ghost_display_field('app-updated', 'Modified', app['_updated']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-env', 'Environment', app['env']) }}
                {{ ghost_display_field('app-role', 'Role', app['role']) }}
            </div>
        </div>
        <div class="panel-heading">AWS</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-aws-region', 'AWS Region', app['region']) }}
                {{ ghost_display_field('app-aws-instance-type', 'AWS Instance Type', app['instance_type']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-aws-vpc', 'AWS VPC', app['vpc_id']) }}
                {{ ghost_display_field('app-aws-ami', 'AWS AMI', app['ami']) }}
            </div>
        </div>
        <div class="panel-heading">Autoscale</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-autoscale-name', 'Name', app.get('autoscale', {})['name']) }}
                {{ ghost_display_field('app-autoscale-current', 'Initial Value', app.get('autoscale', {})['current']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-autoscale-min', 'Min Value', app.get('autoscale', {})['min']) }}
                {{ ghost_display_field('app-autoscale-max', 'Max Value', app.get('autoscale', {})['max']) }}
            </div>
        </div>
        <div class="panel-heading">Build Infos</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-build_infos-ssh_username', 'SSH username', app.get('build_infos', {})['ssh_username']) }}
                {{ ghost_display_field('app-build_infos-source_ami', 'Source AMI', app.get('build_infos', {})['source_ami']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-build_infos-ami_name', 'AMI Name', app.get('build_infos', {})['ami_name']) }}
                {{ ghost_display_field('app-build_infos-subnet_id', 'Subnet ID', app.get('build_infos', {})['subnet_id']) }}
            </div>
        </div>
        <div class="panel-heading">Environment Infos</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-environment_infos-security_groups', 'Security Groups', ', '.join(app.get('environment_infos', {})['security_groups'])) }}
                {{ ghost_display_field('app-environment_infos-subnet_ids', 'Subnets', ', '.join(app.get('environment_infos', {})['subnet_ids'])) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-environment_infos-instance_profile', 'Instance Profile', app.get('environment_infos', {})['instance_profile']) }}
                {{ ghost_display_field('app-environment_infos-key_name', 'Key Name', app.get('environment_infos', {})['key_name']) }}
            </div>
        </div>

        <table class="table">
            <caption>Features</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in app['features'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ feature['name'] }}</td>
                        <td>{{ feature['version'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <caption>Modules</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Init</th>
                    <th>Name</th>
                    <th>Git</th>
                    <th>Path</th>
                    <th>Scope</th>
                    <th>Build Pack</th>
                    <th>Pre Deploy</th>
                    <th>Post Deploy</th>
                </tr>
            </thead>
            <tbody>
                {% for module in app['modules'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ module['initialized'] and '&#10004;' | safe or '' }}</td>
                        <td>{{ module['name'] }}</td>
                        <td>{{ module['git_repo'] }}</td>
                        <td>{{ module['path'] }}</td>
                        <td>{{ module['scope'] }}</td>
                        <td>{{ ghost_script(module.get('build_pack', '')) }}</td>
                        <td>{{ ghost_script(module.get('pre_deploy', '')) }}</td>
                        <td>{{ ghost_script(module.get('post_deploy', '')) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
            <a href="/web/apps/{{ app['_id'] }}/command"><button class="btn btn-default">Run Command</button></a>
            <a href="/web/apps/{{ app['_id'] }}/edit"><button class="btn btn-default">Edit</button></a>
            <a href="/web/apps/{{ app['_id'] }}/delete"><button class="btn btn-default">Delete</button></a>
        </div>
    </div>
{% endblock %}
