{% set special_class = 'warning-bad-instance' if not check_instance_tags(host['tags'], app) else '' %}
{% set ami_match = app.get('ami') and host['image_id'].startswith(app.get('ami', '')) %}
<li>
    <a class="instance-item {{ host['status'] }} {{ special_class }}" href="#" id="{{ host['id'] }}">
        <span class="ionicons ion-cube">
        {%- if not ami_match -%}
        <span class="text-danger bad-ami"><i class="fa fa-exclamation-circle" title="This instance is based on an outdated AMI" data-toggle="tooltip"></i></span>
        {%- endif -%}
        </span>
        <span class="instance-id">{{ host['id'] }}</span>
    </a>
    <div class="instance-content hide">
        <legend class="the-legend">
            <h4 class="modal-title"><span class="glyphicon glyphicon-th"></span> Instance Details <strong>{{ host['id'] }}</strong></h4>
        </legend>
        <p class="row">
            <strong class="label label-default col-md-2">Private IP</strong>
            <span class="col-md-10"> {{ host['private_ip_address'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Public IP</strong>
            <span class="col-md-10"> {{ host['public_ip_address'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">State</strong>
            <span class="col-md-10"> {{ host['status'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Launch Time</strong>
            <span class="col-md-10"> {{ host['launch_time'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Security Groups</strong>
            <span class="col-md-10"> {{ host['security_group'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Subnet Id</strong>
            <span class="col-md-10"> {{ host['subnet_id'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Image Id</strong>
            <span class="col-md-10">
                {%- if not ami_match -%}
                <span class="text-danger bad-ami" title="This instance is based on an outdated AMI" data-toggle="tooltip">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ host['image_id'] }}
                </span>
                {%- else -%}
                    {{ host['image_id'] }}
                {%- endif -%}
            </span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Instance Type</strong>
            <span class="col-md-10"> {{ host['instance_type'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Instance Profile</strong>
            <span class="col-md-10"> {{ host['instance_profile'] }}</span>
        </p>
        <p class="row">
            <strong class="label label-default col-md-2">Tags</strong>
            <span class="col-md-10 tags">
                {% for tag, value in host['tags']|dictsort %}
                    <strong class="col-md-2" title="{{ tag }}">{{ tag }}:</strong>
                    <span class="col-md-4" title="{{ value }}">
                    {%- if not check_instance_tag(tag, value, app) -%}
                        <span class="text-danger bad-ami" title="This tag doesn't match app values" data-toggle="tooltip">
                            <i class="fa fa-exclamation-circle"></i>
                            {{ value }}
                        </span>
                    {%- else -%}
                        {{ value }}
                    {%- endif -%}
                    </span>
                {% endfor %}
            </span>
        </p>
    </div>
</li>
