{% extends "base.html" %}

{% set page_title = 'Application: %s' % app['name'] %}

{% block page_header %}
    <ul class="nav nav-stacked action-btns">
        <li>
            <a href="/web/apps/{{ app['_id'] }}/command"><button class="btn btn-default"><span class="glyphicon glyphicon-console"></span> Run Command</button></a>
        </li>
        <li>
            <a href="/web/apps/{{ app['_id'] }}/edit"><button class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>
        </li>
        <li>
            <a href="/web/apps/create?clone_from={{ app['_id'] }}"><button class="btn btn-info"><span class="glyphicon glyphicon-duplicate"></span> Clone</button></a>
        </li>
        <li>
            <a href="/web/apps/{{ app['_id'] }}/delete"><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
        </li>
    </ul>
    <ul class="nav navbar-fixed-left" id="left-menu">
        <li>
            <a href="#properties">Properties</a>
        </li>
        <li>
            <a href="#aws">AWS</a>
        </li>
        <li>
            <a href="#autoscale">Autoscale</a>
        </li>
        <li>
            <a href="#build-infos">Build-infos</a>
        </li>
        <li>
            <a href="#env-infos">Environment Infos</a>
        </li>
        <li>
            <a href="#root-block">Root Block Device</a>
        </li>
        <li>
            <a href="#lifecycle-hooks">Lifecycle Hooks</a>
        </li>
        <li>
            <a href="#features">Features</a>
        </li>
        <li>
            <a href="#modules">Modules</a>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    <div class="panel panel-default app-panel">
        <a name="properties" class="anchor">&nbsp;</a>
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-name', 'Name', app['name']) }}
                {{ ghost_display_field('app-id', 'ID', app['_id']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-created', 'Created', app['_created']) }}
                {{ ghost_display_field('app-updated', 'Modified', app['_updated']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-env', 'Environment', app['env']) }}
                {{ ghost_display_field('app-role', 'Role', app['role']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-log_notifications', 'Log Notifications', ', '.join(app.get('log_notifications', []))) }}
            </div>
        </div>

        <a name="aws" class="anchor">&nbsp;</a>
        <div class="panel-heading">AWS</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-aws-region', 'AWS Region', app['region']) }}
                {{ ghost_display_field('app-aws-instance-type', 'AWS Instance Type', app['instance_type']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-aws-vpc', 'AWS VPC', app['vpc_id']) }}
                {{ ghost_display_field('app-aws-ami', 'AWS AMI', app['ami']) }}
            </div>
        </div>

        <a name="autoscale" class="anchor">&nbsp;</a>
        <div class="panel-heading">Autoscale</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-autoscale-name', 'Name', app.get('autoscale', {})['name']) }}
                {{ ghost_display_field('app-autoscale-current', 'Initial Value', app.get('autoscale', {})['current']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-autoscale-min', 'Min Value', app.get('autoscale', {})['min']) }}
                {{ ghost_display_field('app-autoscale-max', 'Max Value', app.get('autoscale', {})['max']) }}
            </div>
        </div>

        <a name="build-infos" class="anchor">&nbsp;</a>
        <div class="panel-heading">Build Infos</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-build_infos-ssh_username', 'SSH username', app.get('build_infos', {})['ssh_username']) }}
                {{ ghost_display_field('app-build_infos-source_ami', 'Source AMI', app.get('build_infos', {})['source_ami']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-build_infos-ami_name', 'AMI Name', app.get('build_infos', {})['ami_name']) }}
                {{ ghost_display_field('app-build_infos-subnet_id', 'Subnet ID', app.get('build_infos', {})['subnet_id']) }}
            </div>
        </div>

        <a name="env-infos" class="anchor">&nbsp;</a>
        <div class="panel-heading">Environment Infos</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-environment_infos-security_groups', 'Security Groups', ', '.join(app.get('environment_infos', {})['security_groups'])) }}
                {{ ghost_display_field('app-environment_infos-subnet_ids', 'Subnets', ', '.join(app.get('environment_infos', {})['subnet_ids'])) }}
            </div>
            <div class="row">
                {{ ghost_display_field('app-environment_infos-instance_profile', 'Instance Profile', app.get('environment_infos', {})['instance_profile']) }}
                {{ ghost_display_field('app-environment_infos-key_name', 'Key Name', app.get('environment_infos', {})['key_name']) }}
            </div>
        </div>

        <a name="root-block" class="anchor">&nbsp;</a>
        <div class="panel-heading">Root Block Device</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('app-environment_infos-root_block_device_size', 'Size (GiB)', app.get('environment_infos', {}).get('root_block_device', {})['size']) }}
                {{ ghost_display_field('app-environment_infos-root_block_device_name', 'Name', app.get('environment_infos', {}).get('root_block_device', {})['name']) }}
            </div>
        </div>

        <a name="lifecycle-hooks" class="anchor">&nbsp;</a>
        <div class="panel-heading">Lifecycle Hooks</div>
        <div class="panel-body">
            <div class="row">
                <label class="control-label col-md-1" for="lifecycle_hooks-pre_bootstrap">pre_bootstrap</label>
                <div class="col-md-11" id="lifecycle_hooks-pre_bootstrap">
                    {{ ghost_script(app.get('lifecycle_hooks', {}).get('pre_bootstrap', '')) }}
                </div>
            </div>
            <div class="row">
                <label class="control-label col-md-1" for="lifecycle_hooks-post_bootstrap">post_bootstrap</label>
                <div class="col-md-11" id="lifecycle_hooks-post_bootstrap">
                    {{ ghost_script(app.get('lifecycle_hooks', {}).get('post_bootstrap', '')) }}
                </div>
            </div>
        </div>

        <a name="features" class="anchor">&nbsp;</a>
        <table class="table">
            <caption>Features</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in app['features'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ feature['name'] }}</td>
                        <td>{{ feature['version'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a name="modules" class="anchor">&nbsp;</a>
        <table class="table">
            <caption>Modules</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Init</th>
                    <th>Name</th>
                    <th>Git</th>
                    <th>Path</th>
                    <th>Scope</th>
                    <th>Build Pack</th>
                    <th>Pre Deploy</th>
                    <th>Post Deploy</th>
                    <th>Last Deployment</th>
                </tr>
            </thead>
            <tbody>
                {% for module in app['modules'] %}
                    {% set last_deployment = module['last_deployment'] or {} %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ module['initialized'] and '&#10004;' | safe or '' }}</td>
                        <td>{{ module['name'] }}</td>
                        <td>{{ module['git_repo'] }}</td>
                        <td>{{ module['path'] }}</td>
                        <td>{{ module['scope'] }}</td>
                        <td>{{ ghost_script(module.get('build_pack', '')) }}</td>
                        <td>{{ ghost_script(module.get('pre_deploy', '')) }}</td>
                        <td>{{ ghost_script(module.get('post_deploy', '')) }}</td>
                        <td>
                            <a {% if last_deployment['_id'] %}href="/web/deployments/{{ last_deployment['_id'] }}"{% endif %}>{{ last_deployment['_id'] or '-' }}</a>
                            <br>
                            {{ last_deployment['_created'] or '-' }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
