{% extends "base.html" %}

{% set page_title = 'Run Command on Application %s (%s)' % (app['name'], app['env']) %}

{% block page_content %}
    <h1>{{ page_title }}</h1>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.command, form_type='horizontal') }}
        {{ wtf.form_field(form.module_name, form_type='horizontal') }}
        {{ wtf.form_field(form.module_rev, form_type='horizontal') }}

        {{ wtf.form_field(form.submit, form_type='horizontal') }}
    </form>
{% endblock %}
