{% extends "base.html" %}

{% set app_color = " [{0}]".format(app['blue_green']['color']) if app.get('blue_green') and app['blue_green'].get('color') else "" %}
{% set page_title = 'Run Command on %s (%s)%s' % (app['name'], app['env'], app_color) %}

{% block page_header %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/codemirror.css')}}?v={{current_revision}}">
{% endblock %}

{% block page_content %}
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-lg-2 required">Application</label><div class="col-lg-10"><div class="form-control">{{ app['name'] }}</div></div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2">Environment</label><div class="col-lg-10"><div class="form-control">{{ app['env'] }}</div></div>
        </div>
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.command, form_type='horizontal') }}

        <div class="command_options">
            <div class="wrap modules">{{ ghost_command_modules_fieldlist(app, form.modules) }}</div>
            <div class="wrap deploy_id">{{ wtf.form_field(form.deploy_id, form_type='horizontal') }}</div>
            <div class="wrap fabric_execution_strategy">{{ wtf.form_field(form.fabric_execution_strategy, form_type='horizontal') }}</div>
            <div class="wrap rolling_update">{{ wtf.form_field(form.rolling_update, form_type='horizontal') }}</div>
            <div class="wrap rolling_update_strategy">{{ wtf.form_field(form.rolling_update_strategy, form_type='horizontal') }}</div>
            <div class="wrap swapbluegreen_strategy">{{ wtf.form_field(form.swapbluegreen_strategy, form_type='horizontal') }}</div>
            <div class="wrap instance_type">{{ wtf.form_field(form.instance_type, form_type='horizontal') }}</div>
            <div class="wrap skip_salt_bootstrap">{{ wtf.form_field(form.skip_salt_bootstrap, form_type='horizontal') }}</div>
            <div class="wrap subnet">{{ wtf.form_field(form.subnet, form_type='horizontal') }}</div>
            <div class="wrap private_ip_address">{{ wtf.form_field(form.private_ip_address, form_type='horizontal') }}</div>
            <div class="wrap prepare_bg_copy_ami">{{ wtf.form_field(form.prepare_bg_copy_ami, form_type='horizontal') }}</div>
            <div class="wrap purge_delete_elb">{{ wtf.form_field(form.purge_delete_elb, form_type='horizontal') }}</div>
            <div class="wrap execution_strategy">{{ wtf.form_field(form.execution_strategy, form_type='horizontal') }}</div>
            <div class="wrap safe_deployment">{{ wtf.form_field(form.safe_deployment, form_type='horizontal') }}</div>
            <div class="wrap safe_deployment_strategy">{{ wtf.form_field(form.safe_deployment_strategy, form_type='horizontal') }}</div>
            <div class="wrap single_host_instance">{{ wtf.form_field(form.single_host_instance, form_type='horizontal') }}</div>
            <div class="wrap script_module_context">{{ wtf.form_field(form.script_module_context, form_type='horizontal') }}</div>
            <div class="wrap to_execute_script">{{ wtf.form_field(form.to_execute_script, form_type='horizontal') }}</div>
        </div>
        {{ wtf.form_field(form.submit, form_type='horizontal') }}
    </form>
{% endblock %}

{% block page_scripts %}
    <script src="{{url_for('.static', filename='js/cidr_match.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/codemirror.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/mode/shell.js')}}?v={{current_revision}}"></script>
    <script type="text/javascript">
    (function() {
        function show_options_fields()  {
            $('.wrap').hide();
            if ($('#command').val() == 'deploy') {
                $('.wrap.modules').show();
                $('.wrap.fabric_execution_strategy').show();
                $('.wrap.safe_deployment').show();
            } else if ($('#command').val() == 'redeploy') {
                $('.wrap.deploy_id').show();
                $('.wrap.fabric_execution_strategy').show();
                $('.wrap.safe_deployment').show();
            } else if ($('#command').val() == 'recreateinstances') {
                $('.wrap.rolling_update').show();
            } else if ($('#command').val() == 'buildimage') {
                $('.wrap.instance_type').show();
                $('.wrap.skip_salt_bootstrap').show();
            } else if ($('#command').val() == 'createinstance') {
                $('.wrap.subnet').show();
                $('.wrap.private_ip_address').show();
                if ($('#subnet option').first().val() == '') {
                    /*only update if needed*/
                    get_app_subnets("{{ app['_id'] }}");
                }
            } else if ($('#command').val() == 'executescript') {
                $('.wrap.to_execute_script').show();
                $('.wrap.script_module_context').show();
                $('.wrap.execution_strategy').show();
                initCodeMirror();
                refresh_execute_script_fields();
            /* BlueGreen commands */
            } else if ($('#command').val() == 'preparebluegreen') {
                $('.wrap.prepare_bg_copy_ami').show();
            } else if ($('#command').val() == 'swapbluegreen') {
                $('.wrap.swapbluegreen_strategy').show();
            } else if ($('#command').val() == 'purgebluegreen') {
                $('.wrap.purge_delete_elb').show();
            }
        }

        function refresh_options_list() {
            $('#command option, #safe_deployment_strategy option, #rolling_update_strategy option, #single_host_instance option, #execution_strategy option').each(function() {
                cmd = $(this).val();
                desc = $(this).text();
                $(this).text(cmd);
                $(this).attr('data-subtext', ' - ' + desc);
            });
            $('#command, #safe_deployment_strategy, #rolling_update_strategy, #single_host_instance, #execution_strategy').selectpicker('refresh');
        }

        function get_app_subnets(app_id) {
            $('#subnet').find('option').remove();
            $.ajax("/web/aws/appinfos/" + app_id +"/subnet/ids").done(function(data) {
                // Update Subnets select input options
                $.each(data, function(key, value) {
                    $('#subnet').append('<option value=' + key + '>' + value + '</option>');
                });
                $("#subnet option:nth-child(2)").attr("selected", "selected");
                $('#subnet').selectpicker('refresh');
            }).fail(function() {
                alert("Failed to retrieve Subnet for App " + app_id);
            });
        }

        function get_app_safe_deployment_possibilities(select_id, mode) {
          app_id = "{{ app['_id'] }}";
          if (mode != 'append') {
              $(select_id).find('option').remove();
          }
          $.ajax("/web/apps/" + app_id + "/command/deploy/safe_possibilities").done(function(data) {
              $.each(data, function(key, value) {
                $(select_id).append('<option value=' + key + '>' + value + '</option>');
              });
              refresh_options_list();
          }).fail(function() {
              alert("Failed to retrieve Safe Strategies");
          });
        }

        function get_app_ec2_possibilities() {
          $('#single_host_instance').find('option').remove();
          $.ajax("/web/aws/regions/{{ app['region'] }}/ec2/{{ app['_id'] }}/infos").done(function(data) {
              $.each(data, function(key, value) {
                $('#single_host_instance').append('<option value=' + key + '>' + value + '</option>');
              });
              refresh_options_list();
          }).fail(function() {
              alert("Failed to retrieve Safe Strategies");
          });
        }

        function refresh_safe_deploy_options(update_possibilities) {
            if ($('#safe_deployment').is(':checked')) {
                $('.wrap.safe_deployment_strategy').show();
                if (update_possibilities) {
                    get_app_safe_deployment_possibilities('#safe_deployment_strategy');
                }
            } else {
                $('.wrap.safe_deployment_strategy').hide();
            }
            if ($('#rolling_update').is(':checked')) {
                $('.wrap.rolling_update_strategy').show();
                if (update_possibilities) {
                    get_app_safe_deployment_possibilities('#rolling_update_strategy');
                }
            } else {
                $('.wrap.rolling_update_strategy').hide();
            }
        }

        show_options_fields();
        $('#command').change(function() {
            show_options_fields();
        });
        refresh_safe_deploy_options(false);
        $('#safe_deployment, #rolling_update').change(function() {
            refresh_safe_deploy_options(true);
        });

        refresh_options_list();

        function refresh_execute_script_fields() {
            if ($('#execution_strategy').val() == 'single') {
                $('.wrap.single_host_instance').show();
                $('.wrap.safe_deployment_strategy').hide();
                get_app_ec2_possibilities();
            } else {
                $('.wrap.single_host_instance').hide();
                $('.wrap.safe_deployment_strategy').show();
                get_app_safe_deployment_possibilities('#safe_deployment_strategy');
            }
        }

        $('#execution_strategy').change(function() {
            refresh_execute_script_fields();
        });

        $('#private_ip_address').focusout(function (){
            ip_input = $(this).val();
            subnet_input = $('#subnet').val();
            cidr = $('option[value='+subnet_input+']').text().split(' - ')[1].replace(')', '');
            if (ip_input && !cidr_match(ip_input, cidr)) {
                $(this).parent().parent().addClass('has-error');
                $('#submit').attr('disabled', 'disabled');
                alert("'" + ip_input + "' is not a valid IP for the choosen subnet with CIDR '" + cidr + "'")
            } else {
                $(this).parent().parent().removeClass('has-error');
                $('#submit').removeAttr('disabled');
            }
        });
    })();

    function ghost_update_command_deploy_revision(module_name, revision_id) {
        app_id = "{{ app['_id'] }}";
        $.ajax("/web/apps/" + app_id + "/command/module/" + module_name).done(function(data) {
            // Update revision input default
            $('#' + revision_id).val(data);
        }).fail(function() {
            alert("Failed to retrieve last deployed revision for module " + module_name);
        });
    }

    function ghost_update_command_deploy_available_revisions(dom_module_prefix, module_name) {
        app_id = "{{ app['_id'] }}";
        $('select[id=' + dom_module_prefix + '-available_revisions]').find('option').remove();
        $.ajax("/web/apps/" + app_id + "/module/" + module_name + "/available-revisions").done(function(data) {
            // Update available_revisionss select
            $.each(JSON.parse(data), function(index, elt) {
                key = elt[0];
                value = elt[1];
                $('select[id=' + dom_module_prefix + '-available_revisions]').append('<option value=' + key + '>' + value + '</option>');
            });
            $('select[id=' + dom_module_prefix + '-available_revisions]').selectpicker({
                style: 'btn-default',
                liveSearch: true,
                dropupAuto: true,
                size: 5
            });
            $('select[id=' + dom_module_prefix + '-available_revisions]').selectpicker('refresh');
        }).fail(function() {
            alert("Failed to retrieve all available revisions for module " + module_name);
        });
    }

    $('button.retrieve-available-revisions').click(function(evt) {
        evt.preventDefault();
        var module_prefix = $(this).attr('data-prefix').substr(0, $(this).attr('data-prefix').lastIndexOf("-"));
        var name_id = module_prefix + '-name';
        var module_name = $('input[type="hidden"][id=' + name_id + ']').attr('value');
        $('td#td-' + module_prefix + '-available_revisions').show();
        ghost_update_command_deploy_available_revisions(module_prefix, module_name);
    });

    function ghost_count_checked_modules() {
        var checked_modules_count = $('input[type="checkbox"][id^="modules"]:checked').length;
        $('#module_counter span').text(checked_modules_count);
    }

    $('input[type="checkbox"][id^="modules"]').change(function() {
        if ($(this).prop('checked')) {
            var module_prefix = $(this).attr('id').substr(0, $(this).attr('id').lastIndexOf("-"));
            var name_id = module_prefix + '-name';
            var revision_id = module_prefix + '-rev';
            var module_name = $('input[type="hidden"][id=' + name_id + ']').attr('value');
            ghost_update_command_deploy_revision(module_name, revision_id);
        }
        ghost_count_checked_modules();
    });

    $('#deploy_all_modules').change(function () {
        $('input[type="checkbox"][id^="modules"]').prop('checked', $(this).prop('checked')).trigger("change");
    });

    $('select[id^=modules-]').change(function() {
        var module_prefix = $(this).attr('id').substr(0, $(this).attr('id').lastIndexOf("-"));
        var revision_id = module_prefix + '-rev';
        var module_check = module_prefix + '-deploy';
        $('#' + revision_id).val($(this).val());
        $('#' + module_check).prop('checked', 'checked');
    });
    </script>
{% endblock %}

{% macro ghost_command_modules_fieldlist(app, modules_fields) -%}
    <div class="form-group">
        <label class="control-label col-lg-2">Modules</label>
          <div class="col-lg-10">
            <div class="modules_list">
            <table class="table" id="modules_list">
                <thead>
                    <tr>
                        <td class="module-state">
                            {{ app_modules_state(app) }}
                        </td>
                        <td colspan="2">
                            <div class="checkbox">
                                <label>
                                    <input id="deploy_all_modules" type="checkbox"> Deploy all modules
                                </label>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for subform in modules_fields %}
                        <tr id="module_{{ loop.index0 }}" data-modules>
                            {{ subform.hidden_tag() }}
                            <td class="module-state">
                                {{ module_state(app['modules'][loop.index0]) }}
                            </td>
                            <td class="inline td-module-field" id="td-modules-{{ loop.index0 }}-deploy">
                                {{ wtf.form_field(subform['deploy'], form_type='horizontal') }}
                            </td>
                            <td class="inline td-module-field" id="td-modules-{{ loop.index0 }}-rev">
                                <div class="col-lg-10">{{ wtf.form_field(subform['rev'], form_type='horizontal') }}</div>
                                <div class="col-lg-2">
                                    <button data-prefix="modules-{{ loop.index0 }}-rev" class="btn btn-raised btn-xs btn-info retrieve-available-revisions" title="Retrieves all available revisions">
                                        <i class="fa fa-history"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="inline td-module-field" id="td-modules-{{ loop.index0 }}-available_revisions">
                                {{ wtf.form_field(subform['available_revisions'], form_type='horizontal') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div id="module_counter">
                <label>
                    Deployed Modules : <span>0</span>
                </label>
            </div>
        </div>
    </div>
{%- endmacro %}
