{% extends "base.html" %}

{% set page_title = 'Applications' %}

{% block page_header %}
    <a class="top-right" href="#" data-behavior="scrollTop"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
    <caption>Sorted by last modification date</caption>

    <ul class="nav nav-stacked action-btns">
        <li>
            <a href="/web/apps/create" id="createApp"><button class="btn btn-raised btn-primary"><span class="glyphicon glyphicon-plus"></span> Create an Application</button></a>
        </li>
        <li>
            <ul class="nav navbar-nav filter-group">
                <li role="presentation" class="dropdown filter">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/web/apps" role="button" aria-expanded="false">
                        {{ request.args.get('role') or 'Role' }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-behavior="role">- All -</a></li>
                        {% for role in role_list: %}
                        <li><a data-behavior="role" data-role="{{ role }}">{{ role }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="filter">
                    <div class="input-group" id="global-search">
                        <input type="text" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    <div id="tabbed-apps">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% for env in env_list: %}
                {% if env == selected_env: %}
            <li role="presentation" class="active env-{{ env }}"><a data-behavior="env" data-env="{{ env }}" aria-controls="{{ env }}" role="tab" data-toggle="tab">{{ env }}</a></li>
                {% else %}
            <li role="presentation" class="env-{{ env }}"><a data-behavior="env" data-env="{{ env }}" aria-controls="{{ env }}" role="tab" data-toggle="tab">{{ env }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <table class="table tablelist">
        <thead>
            <tr>
                <th>#</th>
                <th>Name / ID / Custom account</th>
                <th>Created / Modified</th>
                <th>Environment</th>
                <th>Role / Features / Modules</th>
                <th>AWS Region / Instance Type / VPC</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include 'app_list_content.html' %}
            <tr id="loadmoreajaxloader">
                <td colspan="7" style="display:none;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></td>
            </tr>
            <tr id="backtotop">
                <td colspan="7" style="display:none">
                    <a href="#" data-behavior="scrollTop"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
{% endblock %}
{% block page_scripts %}
    <script type="text/javascript">
        if (typeof(BEHAVIORS)=="undefined") {
            BEHAVIORS = {};
        }

        BEHAVIORS['role'] = function(){
            var role = $(this).data('role');
            setTableListRole(role);
        };
        BEHAVIORS['env'] = function() {
            var env = $(this).data('env');
            setTableListEnv(env);
        };

        var getUrlParameter = function getUrlParameter(sParam, sDefault) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;
        
            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
        
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
            return sDefault;
        };

        function ParseQueryString() {
            var getQueryStringNameValuePairs = new Array();
            var queryString = window.location.search.substring(1);

            var nameValuePairs = queryString.split(/&/);

            
            for (var i in nameValuePairs) {
                var nameValue = nameValuePairs[i].split(/=/);
                getQueryStringNameValuePairs[nameValue[0]] = nameValue[1];
            }
            return getQueryStringNameValuePairs;
        }

        var tableListParameters = ParseQueryString();

        function setTableListEnv(value) {
            if(value == '*') {
                value = undefined;
            }
            tableListParameters.env = value;
            updateQueryString();
            resetTableList();
        }

        function setTableListRole(value) {
            tableListParameters.role = value;
            $('.dropdown-toggle').html((value ? value : 'Role') + '<span class="caret"></span>');
            updateQueryString();
            resetTableList();
        }

        function updateQueryString() {
            queryString = new URI("?");
            for(key in tableListParameters) {
                queryString.addFragment(key, tableListParameters[key]);
            }
            queryString = (queryString+"").substring(1);
            uri = window.location.toString();
            uri = uri.substring(0, uri.indexOf("?"));
            window.history.pushState(null, null, uri + queryString);
        }
        
        function setTableListName() {
            var searchValue = $('#global-search input').val();
            if(searchValue == '') {
                searchValue = undefined;
            }
            tableListParameters.name = searchValue;
            updateQueryString();
            resetTableList();
        }

        scrolledToBottom = function() {
            return Math.abs($('.container[role=main]').scrollTop() - $('#tabbed-apps').outerHeight(true) + $('.container[role=main]').innerHeight()) < 1;
        }
        
        $(document).ready(function() {
            $('#global-search').focusin(function () {
                $('#global-search').addClass('expanded');
            });
            $('#global-search').focusout(function () {
                $('#global-search').removeClass('expanded');
            });
            $('#global-search button').click(function (evt) {
                evt.preventDefault();
                setTableListName();
            });
            $('#global-search input').keypress(function (e) {
                if (e.which == 13) {
                    setTableListName();
                    return false;  
                }
            });
            $('#global-search input').val(getUrlParameter('name'));

            $(document).on('click', 'button.app-infos-btn', function(evt) {
                $('#as-instance-details fieldset').addClass('hide');
            });
            $(document).on('click', '.instance-item', function(evt) {
                evt.preventDefault();
                instance_content = $(this).next().html();
                $('.instance-item').removeClass('focus');
                $(this).addClass('focus');
                $('#as-instance-details fieldset').removeClass('hide');
                $('#as-instance-details fieldset').html(instance_content);
            });
            $(document).on('click', '#as-elb a', function(evt) {
                evt.preventDefault();
                $('#as-elb a').removeClass('btn-colored');
                $(this).addClass('btn-colored');

                $('.instance-item').removeClass(function (index, css) {
                    return (css.match (/(^|\s)hl-\S+/g) || []).join(' ');
                });
                instances = $(this).attr('data-instances');
                color = $(this).attr('data-color');
                $(instances).addClass('hl-'+color);
            });
            $(document).on('click', '#appListViewToggle', function(evt) {
                evt.preventDefault();
                window.location.href = '/web/t-apps#apps-{{ request.args.get("g-env") }}';
            });
        });
    </script>
{% endblock %}