{% extends "base.html" %}

{% set page_title = 'Create an Application' %}

{% block page_content %}
    <h1>New Application</h1>
    <form class="form-horizontal" method="POST" action="/web/apps/create" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.name, form_type='horizontal', placeholder='Application Name') }}
        {{ wtf.form_field(form.region, form_type='horizontal') }}
        {{ wtf.form_field(form.instance_type, form_type='horizontal') }}
        {{ wtf.form_field(form.env, form_type='horizontal') }}
        {{ wtf.form_field(form.role, form_type='horizontal') }}
        {{ wtf.form_field(form.vpc_id, form_type='horizontal') }}

        <h2>Module</h2>
        {{ wtf.form_field(form.module_name, form_type='horizontal', placeholder='Module Name') }}
        {{ wtf.form_field(form.module_git_repo, form_type='horizontal', placeholder='https://github.com/test/test') }}
        {{ wtf.form_field(form.module_path, form_type='horizontal', placeholder='/var/www/test') }}
        {{ wtf.form_field(form.module_scope, form_type='horizontal') }}
        {{ wtf.form_field(form.module_build_pack, form_type='horizontal') }}
        {{ wtf.form_field(form.module_post_deploy, form_type='horizontal') }}

        {{ wtf.form_field(form.submit, form_type='horizontal') }}
    </form>
{% endblock %}
