<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Resource details of <strong>{{ app['name'] }} / {{ app['role'] }} / {{ app['env'] }}</strong></h3>
</div>
{%- if as_group -%}
<div class="modal-header">
    <h4 class="modal-title">Auto Scaling Group <strong>{{ as_group.name }}</strong></h4>
</div>
<div class="modal-body">
    {%- if as_instances | length > 0 -%}
<ul class="app-infos-wrap">
    {% for host in as_instances %}
    <li>
        <a class="instance-item {{ host['status'] }}" data-toggle="popover" title="{{ host['id'] }}" data-placement="bottom" data-trigger="focus" role="button" tabindex="0">
            <span class="glyphicon glyphicon-stop"></span>
            <span class="instance-id">{{ host['id'] }}</span>
        </a>
        <div class="popper-content hide">
            <p>
                <strong class="label label-default">Private IP</strong> {{ host['private_ip_address'] }}
            </p>
            <p>
                <strong class="label label-default">Public IP</strong>
            </p>
            <p>
                <strong class="label label-default">State</strong> {{ host['status'] }}
            </p>
            <p>
                <strong class="label label-default">Launch Time</strong> {{ host['launch_time'] }}
            </p>
            <p>
                <strong class="label label-default">Security Groups</strong> {{ host['security_group'] }}
            </p>
            <p>
                <strong class="label label-default">Subnet Id</strong> {{ host['subnet_id'] }}
            </p>
            <p>
                <strong class="label label-default">Image Id</strong> {{ host['image_id'] }}
            </p>
            <p>
                <strong class="label label-default">Instance Type</strong> {{ host['instance_type'] }}
            </p>
            <p>
                <strong class="label label-default">Instance Profile</strong> {{ host['instance_profile'] }}
            </p>
        </div>
    </li>
{% endfor %}
</ul>
{%- else %}
<p>No instance found in the AS <strong>{{ as_group.name }}</strong></p>
{%- endif %}
</div>
{%- endif %}

{%- if ghost_instances | length > 0 -%}

<div class="modal-header standalone-header">
    <h4 class="modal-title">Standalone Group</h4>
</div>
<div class="modal-body">
<ul class="app-infos-wrap">
{% for host in ghost_instances %}
    <li>
        <a class="instance-item {{ host['status'] }}" data-toggle="popover" title="{{ host['id'] }}" data-placement="bottom" data-trigger="focus" role="button" tabindex="0">
            <span class="glyphicon glyphicon-stop"></span>
            <span class="instance-id">{{ host['id'] }}</span>
        </a>
        <div class="popper-content hide">
            <p>
                <strong class="label label-default">Private IP</strong> {{ host['private_ip_address'] }}
            </p>
            <p>
                <strong class="label label-default">Public IP</strong>
            </p>
            <p>
                <strong class="label label-default">State</strong> {{ host['status'] }}
            </p>
            <p>
                <strong class="label label-default">Launch Time</strong> {{ host['launch_time'] }}
            </p>
            <p>
                <strong class="label label-default">Security Groups</strong> {{ host['security_group'] }}
            </p>
            <p>
                <strong class="label label-default">Subnet Id</strong> {{ host['subnet_id'] }}
            </p>
            <p>
                <strong class="label label-default">Image Id</strong> {{ host['image_id'] }}
            </p>
            <p>
                <strong class="label label-default">Instance Type</strong> {{ host['instance_type'] }}
            </p>
            <p>
                <strong class="label label-default">Instance Profile</strong> {{ host['instance_profile'] }}
            </p>
        </div>
    </li>
{% endfor %}
</ul>
{%- else %}
<div class="modal-header standalone-header">
    <h4 class="modal-title">No standalone instance found for the app <strong>'{{ app['name'] }}'</strong></h4>
</div>
{%- endif %}
</div>
<div class="modal-footer" style="clear:both;"></div>

<script type="text/javascript">
    $(function () {
    $('[data-toggle="popover"]').popover({
        html : true,
        content : function() {
            return $(this).next('.popper-content').html();
        }
    });
})
</script>
