{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Morea GHOST - {{ page_title }}{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='ghost.css')}}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull-left" href="/web/apps"><img alt="Morea GHOST" src="{{ url_for('static', filename='logo.png')}}" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/web/apps" role="button" aria-expanded="false">
                            Applications <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/web/apps">List Apps</a></li>
                            <li><a href="/web/apps/create">Create App</a></li>
                        </ul>
                    </li>
                    <li><a href="/web/jobs">Jobs</a></li>
                    <li><a href="#about">About (TODO)</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ util.flashed_messages() }}
    <div class="container" role="main">
        {% block page_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/1.18.18/jquery.autosize.js"></script>
    <script>
        $(document).ready(function() {
            $('textarea').autosize();
        });

        function ghost_add_entry_to_list(group_id_prefix, entry_id_prefix, entry_label) {
            var count = $("tr[data-" + entry_id_prefix + "]").size();
            var clone = $("tr[data-" + entry_id_prefix + "]:first").clone();

            clone.attr("id", entry_id_prefix + "_"+(count+1));
            clone.find("input").each(function() {
                var old_id = $(this).attr('id');
                var new_id = old_id.replace('-0', '-' + count);
                $(this).attr("id", new_id);
                $(this).attr("name", new_id);
                $(this).val(null);

                var field_label = clone.find("label[for='" + old_id + "']");
                field_label.attr("for", new_id);
            });

            clone.appendTo("table#" + group_id_prefix + "_list");
        }

        function ghost_del_entry_from_list(entry_del_link, entry_id_prefix) {
            var count = $("tr[data-" + entry_id_prefix + "]").size();
            var entry = $(entry_del_link).parent().parent();
            if (count > 1) {
                entry.remove();
            } else {
                // Do not remove element, just clear inputs
                entry.find("input").val(null);
            }
        }

        function dropHandler(dropEvent) {
            dropEvent.stopPropagation();
            dropEvent.preventDefault();
            var reader = new FileReader();
            reader.onloadend = function(loadEvent) {
                if (loadEvent.target.readyState == FileReader.DONE) {
                    dropEvent.target.value = loadEvent.target.result;
                }
            };
            reader.readAsText(dropEvent.dataTransfer.files[0],"UTF-8");
        }
    </script>
{% endblock %}

{% macro ghost_fieldlist_entry(entry, entry_id_prefix, entry_label, loop_index) -%}
    <tr id="{{ entry_id_prefix }}_{{ loop_index - 1 }}" data-{{ entry_id_prefix }}>
        <th scope="row" class="col-md-2">
            <span class="index" style="counter-increment: group_entry;">{{ entry_label }}</span>
        </th>
        <td class="col-md-9">
            {% if entry.type == 'FormField' %}
                {% for field in entry if not field.type == 'CSRFTokenField' %}
                    {{ wtf.form_field(field, form_type='horizontal', placeholder='TODO') }}
                {% endfor %}
            {% elif entry.type == 'TextAreaField' %}
                {{ wtf.form_field(entry, form_type='horizontal', dropzone='copy s:text/plain', ondrop='dropHandler(event)', placeholder='Drag and drop a text file here') }}
            {% else %}
                {{ wtf.form_field(entry, form_type='horizontal', placeholder='TODO') }}
            {% endif %}
        </td>
        <td class="col-md-1">
            <a class="btn btn-default" title="Delete {{ entry_label }}"
                onclick="javascript:ghost_del_entry_from_list(this, '{{ entry_id_prefix }}')">X</a>
        </td>
    </tr>
{%- endmacro %}

{% macro ghost_fieldlist(fieldlist, group_id_prefix, group_label, entry_id_prefix, entry_label) -%}
    <div class="panel panel-default">
        <div class="panel-heading" style="counter-reset: group_entry;">
            {{ group_label }}
            <a class="btn btn-default" title="Add {{ entry_label }}"
                onclick="javascript:ghost_add_entry_to_list('{{ group_id_prefix }}', '{{ entry_id_prefix }}', '{{ entry_label }}')">
                +
            </a>
        </div>
        <table class="table" id="{{ group_id_prefix }}_list">
            <tbody>
            {% for entry in fieldlist %}
                {{ ghost_fieldlist_entry(entry, entry_id_prefix, entry_label, loop.index) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}

{% macro ghost_script(value) -%}
    {%- if value | length > 10 -%}
        <abbr title="{{ value }}">
    {%- endif -%}
    {{ value[:10] }}
    {%- if value | length > 10 -%}
        &hellip;</abbr>
    {%- endif %}
{%- endmacro %}

{% macro ghost_display_field(id, name, value, href=None) -%}
    <label class="control-label col-md-3" for="{{ id }}">{{ name }}</label>
    <div class="col-md-3" id="{{ id }}">
        {%- if href -%}<a href="{{ href }}">{%- endif -%}
        {{ value }}
        {%- if href -%}</a>{%- endif -%}
    </div>
{%- endmacro %}
