{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Claranet Cloud Deploy - {{ page_title }}{% endblock %}

{% block styles %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('.static', filename='favicon/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('.static', filename='favicon/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('.static', filename='favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('.static', filename='favicon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('.static', filename='favicon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('.static', filename='favicon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('.static', filename='favicon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('.static', filename='favicon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('.static', filename='favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('.static', filename='favicon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('.static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('.static', filename='favicon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('.static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('.static', filename='favicon/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{url_for('.static', filename='favicon/ms-icon-144x144.png')}})">
    <meta name="theme-color" content="#ffffff">

    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-select.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-material-design.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ripples.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/font-awesome.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ionicons.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ghost.css')}}?v={{current_revision}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="page-wrap">
    <nav id="header" class="navbar navbar-inverse navbar-fixed-top">
        <div id="topHeader">
        <div class="container">
            <div class="navbar-header">
                <a class="pull-left" href="/web/apps">
                    <img class="site-logo" alt="Claranet" height="35" typeof="foaf:Image" src="//www.claranet.fr/sites/all/themes/claranet_responsive_2015/logo.png" alt="Claranet France">
                    <img height="40" id="logo_cloud_deploy" alt="Cloud Deploy" src="{{ url_for('static', filename='cloud_deploy.png')}}?v={{current_revision}}" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right ghost-logo">
                    <li><img height="50" alt="Logo" src="{{ url_for('static', filename='logo_cloud_deploy.png')}}?v={{current_revision}}" /></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/web/apps">Applications</a></li>
                    <li><a href="/web/jobs">Jobs</a></li>
                    <li><a href="/web/deployments">Deployments</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="">{% if current_user.is_authenticated %}Hi {{ current_user.id }}!{% endif %}</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="sidebar ghost-titlebar">
        <h1 title="{{ page_title }}">{{ page_title }}</h1>

        <div id="ajaxSpinnerContainer">
            <img src="{{ url_for('static', filename='ajax-loader.gif')}}" id="ajaxSpinnerImage" alt="Loading...">
        </div>

        {% block page_header %}
        {% endblock %}
    </div>

    <div class="container" role="main">
        {{ util.flashed_messages() }}

        {% block page_content %}
        {% endblock %}
    </div>
</div>
<footer class="site-footer">
  <span class="right"><a href="http://www.claranet.com" target="_blank"><img height="10" alt="Logo Claranet" src="{{ url_for('static', filename='logo_small.png')}}?v={{current_revision}}" /></a></span>
  <span class="left" title="{{current_revision_date}}">GHOST - {{current_revision_name}}</span>
  <span class="left doc" title="Ghost Documentation"><a href="/docs" target="_blank">Documentation</a></span>
  <span class="left ghost-status"><i class="fa fa-heartbeat text-{{ ghost_health_status }}"></i> <a href="/web/ghost/health-status" title="Ghost Host Status" data-toggle="modal" data-target="#ghost-health-status-modal">Status</a></span>
</footer>
<!-- Modal -->
<div class="modal fade" id="ghost-health-status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog app-infos" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ghost Health Status</strong></h4>
    </div>
    <div class="modal-body">
        <p style="text-align: center;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></p>
    </div>
    </div>
</div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('.static', filename='js/bootstrap-select.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/ripples.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/material.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/jquery.knob.min.js')}}?v={{current_revision}}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var currentPage = 1;
        var withQuery = $(location).attr('search') && $(location).attr('search') != "";

        function fetchNextPage() {
            $('tr#loadmoreajaxloader td').show();
            currentPage = currentPage + 1;
            // Don't use 'href' attr, because it can contains the 'hash' attribute
            var currentURI = $(location).attr('origin') + $(location).attr('pathname') + $(location).attr('search');
            var loadMoreUrl = withQuery
                ? currentURI + '&page=' + currentPage
                : currentURI + '?page=' + currentPage;
            $.ajax({
                url: loadMoreUrl,
                success: function(html)
                {
                    if (html) {
                        $('tr#loadmoreajaxloader').before(html);
                        $('tr#loadmoreajaxloader td').hide();
                        if ($('body').innerHeight() < $(window).height()) { //fetchfing next page to fill the document 
                            fetchNextPage();
                        }
                    } else {
                        $('tr#loadmoreajaxloader td').html('<a href="#"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>');
                        $(window).unbind('scroll');
                        $('tr#loadmoreajaxloader td').show();
                    }
                }
            });
        }

        if ($('table.tablelist').not('.noscroll').length > 0) {
            $(window).scroll(function()
            {
                //Checking that we are at the bottom even if we have no integer due to zoom
                if (Math.abs($(window).scrollTop() - $(document).height() + $(window).height()) < 1) //bottom of the window
                {
                    fetchNextPage();
                }
            });
            if ($('body').innerHeight() < $(window).height()) { //fetchfing next page to fill the document 
                fetchNextPage();
            }
        }
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function(evt) {
                btn = $(this).find('input#submit');
                if (btn.hasClass('disabled')) {
                    evt.preventDefault();
                }
                btn.addClass('disabled');
            });
        });
    </script>
    <script type="text/javascript">
        /*
        health status modal
         */
        $(document).ready(function() {
            $('#ghost-health-status-modal').on('hidden.bs.modal', function() {
                $(this).removeData();
            });
        });
    </script>
    <script type="text/javascript">
        $('input#submit').prepend('<span class="glyphicon glyphicon-ok"></span>');
        $('input#submit').addClass('btn-raised btn-info');

        $.material.init();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ready(function() {
            $('select:not([readonly])').selectpicker({
                style: 'btn-default',
                noneResultsText: 'No results matched {0} <button title="Create a new entry for this unknown option" class="btn-select-append-option btn btn-raised btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i></button>',
                liveSearch: true,
                dropupAuto:  false
            });
        });

        var $loading = $('#ajaxSpinnerImage').hide();
        $(document).ajaxStart(function () {
            $loading.show();
        }).ajaxStop(function () {
            $loading.hide();
        });

        var provider = 'aws';
        if ($('#assumed_account_id').val() && $('#assumed_role_name').val()) {
            var provider_identity_query = '?assumed_account_id=' + $('#assumed_account_id').val() + '&assumed_role_name=' + $('#assumed_role_name').val() + '&assumed_region_name=' + $('#assumed_region_name').val();
        } else {
            var provider_identity_query = '';
        }

        function ghost_update_ec2_regions_confirm() {
            if (confirm('Refreshing region may also refresh all other resources that depends on it.')) {
                ghost_update_ec2_regions();
                $('select#region').change();
            }
        }

        function ghost_update_ec2_regions() {
          $('#region').find('option').remove();
          $.ajax("/web/" + provider + "/regions" + provider_identity_query).done(function(data) {
              // Update instance types select input options
              $.each(data,function(key, value) {
                $('#region').append('<option value=' + key + '>' + value + '</option>');
              });
              $('#region').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve Regions");
          });
        }

        function ghost_update_ec2_instancetypes(region) {
          $('#instance_type').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/ec2/instancetypes" + provider_identity_query).done(function(data) {
              // Update instance types select input options
              $.each(data,function(key, value) {
                $('#instance_type').append('<option value=' + key + '>' + value + '</option>');
              });
              $('#instance_type').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve EC2 instance types for region " + region);
          });
        }

        function ghost_update_ec2_vpcs(region) {
          $('#vpc_id').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/vpc/ids" + provider_identity_query).done(function(data) {
              // Update VPCs select input options
              $.each(data,function(key, value) {
                $('#vpc_id').append('<option value=' + key + '>' + value + '</option>');
              });
              $('select#vpc_id').change();
              $('#vpc_id').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve EC2 VPCs for region " + region);
          });
        }

        function ghost_update_ec2_keys(region) {
          $('select#environment_infos-key_name').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/ec2/keypairs" + provider_identity_query).done(function(data) {
              // Update Key Pairs select input options
              $.each(data,function(key, value) {
                $('select#environment_infos-key_name').append('<option value=' + key + '>' + value + '</option>');
              });
              $('select#environment_infos-key_name').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve EC2 KeyPairs for region " + region);
          });
        }

        function ghost_update_iam_profiles(region) {
          $('select#environment_infos-instance_profile').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/iam/profiles" + provider_identity_query).done(function(data) {
              // Update Instance Profiles select input options
              $.each(data,function(key, value) {
                $('select#environment_infos-instance_profile').append('<option value=' + key + '>' + value + '</option>');
              });
              $('select#environment_infos-instance_profile').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve IAM Instance Profiles for region " + region);
          });
        }

        function ghost_update_vpc_sgs(region, vpc_id) {
          $('[id^=environment_infos-security_groups]').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/vpc/" + vpc_id + "/sg/ids" + provider_identity_query).done(function(data) {
              // Update SGs select input options
              $.each(data, function(key, value) {
                  $.each($('[id^=environment_infos-security_groups]'), function(index) {
                    $(this).append('<option value=' + key + '>' + value + '</option>');
                  });
              });
              $('[id^=environment_infos-security_groups]').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve Segurity Groups for region " + region);
          });
        }

        function ghost_update_vpc_subnets(region, vpc_id, for_build) {
          if (!for_build) {
            $('[id^=environment_infos-subnet]').find('option').remove();
          } else {
            $('#build_infos-subnet_id').find('option').remove();
          }
          $.ajax("/web/" + provider + "/regions/" + region + "/vpc/" + vpc_id + "/subnet/ids" + provider_identity_query).done(function(data) {
              // Update Subnets select input options
              $.each(data, function(key, value) {
                if (for_build) {
                  $('#build_infos-subnet_id').append('<option value=' + key + '>' + value + '</option>');
                } else {
                  $.each($('[id^=environment_infos-subnet]'), function(index) {
                    $(this).append('<option value=' + key + '>' + value + '</option>');
                  });
                }
              });
              if (!for_build) {
                $('[id^=environment_infos-subnet]').selectpicker('refresh');
              } else {
                $('#build_infos-subnet_id').selectpicker('refresh');
              }
          }).fail(function() {
              alert("Failed to retrieve Subnet for region " + region + " and VPC id "  + vpc_id);
          });
        }
        
        function ghost_update_ec2_amis(region) {
          $('[id^=build_infos-source_ami]').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/ami/ids" + provider_identity_query).done(function(data) {
              // Update AMIs select input options
              $.each(data, function(key, value) {
                  $.each($('[id^=build_infos-source_ami]'), function(index) {
                    $(this).append('<option value=' + key + '>' + value + '</option>');
                  });
              });
              $('[id^=build_infos-source_ami]').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve AMIs");
          });
        }

        function ghost_update_ec2_asgs(region) {
          $('#autoscale-as_name').find('option').remove();
          $.ajax("/web/" + provider + "/regions/" + region + "/ec2/autoscale/ids" + provider_identity_query).done(function(data) {
              // Update ASGs select input options
              $.each(data,function(key, value) {
                $('#autoscale-as_name').append('<option value=' + key + '>' + value + '</option>');
              });
              $('#autoscale-as_name').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve EC2 AutoScaling Groups for region " + region);
          });
        }

        function ghost_update_feature_presets() {
          $('select#features-presets').find('option').remove();
          $.ajax('/web/feature/presets').done(function(data) {
              $.each(data,function(key, value) {
                $('select#features-presets').append('<option value=' + key + '>' + value + '</option>');
              });
              $('select#features-presets').selectpicker('refresh');
          }).fail(function() {
              alert("Failed to retrieve Feature Presets List");
          });
        }

        $('select#provider').change(function () {
            ghost_update_ec2_regions();
            provider = $(this).val();
        });
        $('select#region').change(function() {
            var region = $(this).val();
            ghost_update_ec2_instancetypes(region);
            ghost_update_ec2_vpcs(region);
            ghost_update_ec2_asgs(region);
            ghost_update_ec2_keys(region);
            ghost_update_ec2_amis(region);
            ghost_update_iam_profiles(region);
        });
        $('select#vpc_id').change(function() {
            var vpcid = $(this).val();
            ghost_update_vpc_sgs($('select#region').val(), vpcid);
            ghost_update_vpc_subnets($('select#region').val(), vpcid, true);
            ghost_update_vpc_subnets($('select#region').val(), vpcid, false);
        });
        $('#check_provider_creds').click(function(evt) {
            evt.preventDefault();
            account = $('#assumed_account_id').val();
            role =  $('#assumed_role_name').val();
            region =  $('#assumed_region_name').val();
            app_region = $('select#region').val();
            $.ajax("/web/" + provider + "/identity/check/" + account + "/" + role + "/" + region).done(function(data) {
                if (data.result) {
                    $('#app_options_wrapper').slideDown('slow');
                    provider_identity_query = '?assumed_account_id=' + $('#assumed_account_id').val() + '&assumed_role_name=' + $('#assumed_role_name').val() + '&assumed_region_name=' + $('#assumed_region_name').val();
                    $('#check_provider_creds').html('<i class="glyphicon glyphicon-check"> </i> Credentials OK');
                    if (app_region) {
                        if (confirm('Do you want to refresh all resource fields?\nIt will use your new custom identity configuration.')) {
                            $('select#region').change(); // Will reload all select in the page
                        }
                    }
                } else {
                    alert('Invalid Identity parameters, please correct them. ' + data.msg);
                }
            }).fail(function() {
                alert('Invalid Identity parameters, please correct them. ');
            });
        });

        function ghost_add_entry_to_list(group_id_prefix, entry_id_prefix, entry_label, scroll_to=true) {
            var count = $("tr[data-" + entry_id_prefix + "]").size();
            var clone = $("tr[data-" + entry_id_prefix + "]:first").clone();

            clone.attr("id", entry_id_prefix + "_" + count);
            clone.find("input, select, textarea").each(function() {
                var old_id = $(this).attr('id');
                $(this).val(null);
                if (old_id) {
                    var new_id = old_id.replace(/-[0-9]+/i, '-' + count);
                    $(this).attr("id", new_id);
                    $(this).attr("name", new_id);

                    var field_label = clone.find("label[for='" + old_id + "']");
                    field_label.attr("for", new_id);
                }
            });

            var slt = clone.find('select');
            slt.parent().before(slt);

            // Bootstrap Dynamic Select - update
            clone.find('.bootstrap-select').remove();
            clone.find('select').selectpicker({
                style: 'btn-default',
                liveSearch: true,
                dropupAuto:  false
            });

            // CodeMirror cleaning
            clone.find('.CodeMirror').remove();
            clone.find('textarea').each(function(index, elem) {
                $(elem).css('display', 'block');
                $(elem).unbind();
            });

            // DOM Insert
            clone.appendTo("table#" + group_id_prefix + "_list");

            // CodeMirror update
            $('#' + entry_id_prefix + "_" + count).find('textarea').each(function(index, elem) {
                var editor = CodeMirror.fromTextArea(elem, {
                    lineNumbers: true,
                    viewportMargin: Infinity,
                    lineWrapping: true,
                    mode: 'shell',
                });
            });

            if (scroll_to) {
                // ScrollTo the new element
                $('html, body').animate({
                    scrollTop: $('#' + entry_id_prefix + "_" + count).offset().top - 100
                }, 1000);
            }
        }

        function ghost_del_entry_from_list(entry_del_link, entry_id_prefix) {
            var count = $("tr[data-" + entry_id_prefix + "]").size();
            var entry = $(entry_del_link).parent().parent();
            if (count > 1) {
                entry.remove();
            } else {
                // Do not remove element, just clear inputs
                entry.find("input, select, textarea").val(null);
            }
        }

        function dropHandler(dropEvent) {
            dropEvent.stopPropagation();
            dropEvent.preventDefault();
            var reader = new FileReader();
            reader.onloadend = function(loadEvent) {
                if (loadEvent.target.readyState == FileReader.DONE) {
                    dropEvent.target.value = loadEvent.target.result;
                }
            };
            reader.readAsText(dropEvent.dataTransfer.files[0],"UTF-8");
        }
    </script>

    <script type="text/javascript">
        var positionElementInPage = $('.sidebar').offset().top - 20;
        function updateMenusPositions() {
            if ($(window).scrollTop() >= positionElementInPage || $('.app-panel').length > 0) {
                // fixed
                $('.sidebar').next().css('margin-top', $('.sidebar').height() + 'px');
                $('.sidebar').addClass('navbar-fixed-top');
                $('.app-panel').addClass('fixed-top-menu');
                $('#header').addClass('no-shadow');
                $('.site-footer').addClass('fixed');
            } else {
                // relative
                $('.sidebar').removeClass('navbar-fixed-top');
                $('.app-panel').removeClass('fixed-top-menu');
                $('.sidebar').next().css('margin-top', '0');
                $('#header').removeClass('no-shadow');
                $('.site-footer').removeClass('fixed');
            }
            if ($("#left-menu").length > 0) {
                var headingHeight = $('.sidebar').next().offset().top;
                $('#left-menu').css('height', ($(window).height()-headingHeight - $('footer').height()) + 'px');
                $('#left-menu').css('top', headingHeight + 'px');
            }
        }
        if ($('.app-panel').length == 0) {
            $(window).scroll(function() {
                updateMenusPositions();
            });
            $(window).on('resize', function() {
                updateMenusPositions();
            });
        }
        $(document).ready(function() {
            updateMenusPositions();
        });
    </script>
    {% block page_scripts %}
    {% endblock %}

{% endblock %}

{% macro ghost_fieldlist_entry(entry, entry_id_prefix, entry_label, loop_index, form_type, html_placeholder='', refresh_function='') -%}
    <tr id="{{ entry_id_prefix }}_{{ loop_index - 1 }}" data-{{ entry_id_prefix }}>
        <th scope="row" class="col-md-2">
            <a name="{{ entry_id_prefix }}-{{ loop_index - 1 }}" class="anchor">&nbsp</a>
            <span class="index" style="counter-increment: group_entry;">{{ entry_label }}</span>
        </th>
        <td class="col-md-9 {{ form_type }}">
            {% if entry.type == 'FormField' %}
                {% for field in entry if not field.type == 'CSRFTokenField' %}
                    {{ wtf.form_field(field, form_type='horizontal', placeholder=html_placeholder) }}
                {% endfor %}
            {% elif entry.type == 'TextAreaField' %}
                {{ wtf.form_field(entry, form_type='horizontal', dropzone='copy s:text/plain', ondrop='dropHandler(event)', placeholder='Drag and drop a text file here') }}
            {% elif entry.type == 'SelectField' and refresh_function %}
                {{ wtf.form_field(entry, form_type='horizontal', placeholder=html_placeholder) }}
                <button title="Refresh select values" class="btn btn-xs refresh-select" data-target="select#{{ entry.id }}" data-call="{{ refresh_function }}"><span class="glyphicon glyphicon-refresh"></span></button>
            {% else %}
                {{ wtf.form_field(entry, form_type='horizontal', placeholder=html_placeholder) }}
            {% endif %}
        </td>
        <td class="col-md-1">
            <a class="btn btn-danger" title="Delete {{ entry_label }}"
                onclick="javascript:ghost_del_entry_from_list(this, '{{ entry_id_prefix }}')">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
{%- endmacro %}

{% macro ghost_menulist(fieldlist, group_id_prefix, group_label, entry_id_prefix, entry_label) -%}
<ul class="subnav" id="menu-modules-list">
    {% for entry in fieldlist %}
    <li>
        <a href="#{{ entry_id_prefix }}-{{ loop.index - 1 }}"><i class="glyphicon glyphicon-move"></i> <span>{{ entry.data['module_name'] or 'New module' }}</span></a>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}

{% macro ghost_fieldlist(fieldlist, group_id_prefix, group_label, entry_id_prefix, entry_label, form_type, html_placeholder='', refresh_function='') -%}
    <div class="panel panel-default">
        <div class="panel-heading" style="counter-reset: group_entry;">
            <strong>{{ group_label }}</strong>
            <a class="btn btn-success add-entry" title="Add {{ entry_label }}"
                onclick="javascript:ghost_add_entry_to_list('{{ group_id_prefix }}', '{{ entry_id_prefix }}', '{{ entry_label }}')">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <table class="table" id="{{ group_id_prefix }}_list">
            <tbody>
            {% for entry in fieldlist %}
                {{ ghost_fieldlist_entry(entry, entry_id_prefix, entry_label, loop.index, form_type, html_placeholder, refresh_function) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}

{% macro ghost_script(value, maxchars=10) -%}
    {%- if value | length > maxchars -%}
        <abbr title="{{ value }}">
    {%- endif -%}
    {{ value[:maxchars] }}
    {%- if value | length > maxchars -%}
        &hellip;</abbr>
    {%- endif %}
{%- endmacro %}

{% macro ghost_display_field(id, name, value, href=None, cols=4, labelcols=2) -%}
    <label class="control-label col-md-{{ labelcols }}" for="{{ id }}">{{ name }}</label>
    <div class="col-md-{{ cols }}" id="{{ id }}">
        {%- if href -%}<a href="{{ href }}">{%- endif -%}
        {{ value }}
        {%- if href -%}</a>{%- endif -%}
    </div>
{%- endmacro %}
