{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Claranet Cloud Deploy - {{ page_title }}{% endblock %}

{% block styles %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('.static', filename='favicon/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('.static', filename='favicon/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('.static', filename='favicon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('.static', filename='favicon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('.static', filename='favicon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('.static', filename='favicon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('.static', filename='favicon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('.static', filename='favicon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('.static', filename='favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('.static', filename='favicon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('.static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('.static', filename='favicon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('.static', filename='favicon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('.static', filename='favicon/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{url_for('.static', filename='favicon/ms-icon-144x144.png')}})">
    <meta name="theme-color" content="#ffffff">

    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap-select.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/material-kit.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ripples.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/codemirror.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/font-awesome.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ionicons.min.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ghost.css')}}?v={{current_revision}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/ghost-colors.css')}}?v={{current_revision}}">
    <style>
        .navbar.navbar-inverse {
            background-color: {{ ui_config.get('header_menu_background_color', '#415560') }};
        }
        {%- if ui_config.get('header_background_custom') -%}
        #topHeader {
            background: #FFF url('{{ ui_config.get('header_background_custom') }}') no-repeat top left;
        }
        {%- endif -%}
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="page-wrap">
    <nav id="header" class="navbar navbar-inverse">
        <div id="topHeader">
        <div class="container">
            <div class="navbar-header">
                <a class="pull-left" href="/web/apps">
                    <img class="site-logo" alt="Claranet" height="35" typeof="foaf:Image" src="//www.claranet.fr/sites/all/themes/claranet_responsive_2015/logo.png" alt="Claranet France">
                    <img height="40" id="logo_cloud_deploy" alt="Cloud Deploy" src="{{ url_for('static', filename='cloud_deploy.png') }}?v={{current_revision}}" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right ghost-logo">
                    <li><img height="50" alt="Logo" src="{{ ui_config.get('header_logo_custom', url_for('static', filename='logo_cloud_deploy.png')) }}?v={{current_revision}}" /></li>
                </ul>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/web/apps">Applications</a></li>
                    <li><a href="/web/webhooks">Webhooks</a></li>
                    <li><a href="/web/jobs">Jobs</a></li>
                    <li><a href="/web/deployments">Deployments</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="">{% if current_user.is_authenticated %}Hi {{ current_user.id }}!{% endif %}</a></li>
                    <li>{% if current_user.is_authenticated %}<a id="logout" href="#" title="Logout" data-toggle="tooltip"><i class="fa fa-sign-out"></i></a>{% endif %}</li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="ghost-titlebar {{ page_title_class }}">
        <h1 title="{{ page_title }}">{{ page_title }}</h1>

        <div id="ajaxSpinnerContainer">
            <img src="{{ url_for('static', filename='ajax-loader.gif')}}" id="ajaxSpinnerImage" alt="Loading...">
        </div>

        {% block page_header %}
        {% endblock %}
        {{ util.flashed_messages() }}
        <hr />
    </div>

    <div class="container" role="main">
        {% block page_content %}
        {% endblock %}</div>
</div>
<footer class="site-footer">
  <span class="right"><a href="https://www.claranet.com" target="_blank"><img height="10" alt="Logo Claranet" src="//www.claranet.fr/sites/all/themes/claranet_responsive_2015/logo.png" /></a></span>
  <span class="left" title="{{current_revision_date}}">GHOST - {{current_revision_name}}</span>
  <span class="left doc" title="Ghost Documentation"><a href="/docs" target="_blank">Documentation</a></span>
  <span class="left ghost-status"><i class="fa fa-heartbeat text-{{ ghost_health_status }}"></i> <a href="/web/ghost/health-status" title="Ghost Host Status" data-toggle="modal" data-target="#ghost-health-status-modal">Status</a></span>
</footer>
<!-- Modal -->
<div class="modal fade" id="ghost-health-status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog app-infos" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ghost Health Status</strong></h4>
    </div>
    <div class="modal-body">
        <p style="text-align: center;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></p>
    </div>
    </div>
</div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('.static', filename='js/bootstrap-select.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/ripples.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/material.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/jquery.knob.min.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/uri.js')}}?v={{current_revision}}"></script>

    <script src="{{url_for('.static', filename='js/codemirror.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/codemirror/shell.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='js/codemirror/active-line.js')}}?v={{current_revision}}"></script>

    <script src="{{url_for('.static', filename='scripts/base-table-list.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='scripts/base-init.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='scripts/base-aws.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='scripts/base-menu.js')}}?v={{current_revision}}"></script>
    <script src="{{url_for('.static', filename='scripts/script-modal.js')}}?v={{current_revision}}"></script>

    {% block page_scripts %}
    {% endblock %}

{% endblock %}