{% extends "base.html" %}

{% set page_title = 'Deployments' %}

{% block page_header %}
    {% include 'partial_list_top_right.html' %}
    <caption>Sorted by timestamp descending</caption>
    <form method="get">
    <ul class="nav nav-stacked action-btns-filter"><li>
        <ul class="nav navbar-nav filter-group">
            <li role="presentation" class="filter first">
                <div class="form-group">
                    <select name="env" class="form-control">
                        <option value="">Application environment</option>
                        {% for env in env_list: %}
                        <option value="{{ env }}" {% if env == query_values['application_env']: %}selected{% endif %}>{{ env }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li role="presentation" class="filter">
                <div class="form-group">
                    <select name="role" class="form-control">
                        <option value="">Application role</option>
                        {% for role in role_list: %}
                        <option value="{{ role }}" {% if role == query_values['application_role']: %}selected{% endif %}>{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
            <li role="presentation" class="filter">
                <div class="form-group filter-row">
                    <input type="text" name="application" class="form-control" placeholder="Search application..." value="{{ query_values['application_name'] or '' }}"/>
                </div>
            </li>
            <li role="presentation" class="filter">
                <div class="form-group filter-row">
                    <input type="text" name="module" class="form-control" placeholder="Search module..." value="{{ query_values['deployment_module'] or '' }}"/>
                </div>
            </li>
            <li role="presentation" class="filter">
                <div class="form-group filter-row">
                    <input type="text" name="revision" class="form-control" placeholder="Search revision..." value="{{ query_values['deployment_revision'] or '' }}"/>
                </div>
            </li>
            <li class="filter">
                <div class="form-group filter-row">
                    <button class="btn btn-default btn-simple btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </li>
        </ul>
    </li></ul>
    </form>
{% endblock %}"

{% block page_content %}
    <table class="table tablelist">
        <thead>
            <tr>
                <th>#</th>
                <th>Deployment</th>
                <th>Application</th>
                <th>Job</th>
                <th>Module / Path / Package</th>
                <th>Revision</th>
                <th>Commit</th>
                <th>Timestamp</th>
                <th>Deployment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include 'deployment_list_content.html' %}
            <tr id="loadmoreajaxloader">
                <td colspan="9" style="display:none;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></td>
            </tr>
        </tbody>
    </table>
{% endblock %}