{% extends "base.html" %}

{% set page_title = 'Deployments' %}

{% block page_header %}
    <a class="top-right" href="#" data-behavior="scrollTop"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
    <caption>Sorted by timestamp descending</caption>
{% endblock %}"

{% block page_content %}
    <table class="table tablelist">
        <thead>
            <tr>
                <th>#</th>
                <th>Deployment</th>
                <th>Application</th>
                <th>Job</th>
                <th>Module / Path / Package</th>
                <th>Revision</th>
                <th>Commit</th>
                <th>Start Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% include 'deployment_list_content.html' %}
            <tr id="loadmoreajaxloader">
                <td colspan="9" style="display:none;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
