{% for deployment in deployments | sort(reverse=True, attribute='_created') %}
    {% set app = deployment['app_id'] or {'_id': '', 'name': '-', 'env': '-'} %}
    {% set job = deployment['job_id'] or {'_id': '', 'user': '-', '_created': '-', '_updated': '-'} %}
<tr class="env-{{ app['env'] }}">
    <th scope="row"><span class="index"></span></th>
    <td>
        <a href="/web/deployments/{{ deployment['_id'] }}">{{ deployment['_id'] }}</a>
    </td>
    <td>
        <a {% if app['_id'] %}href="/web/apps/{{ app['_id'] }}"{% endif %}>{{ app['name'] }} {% if app['_id'] %}({{ app['env'] }}){% endif %}</a>
    </td>
    <td>
        <a {% if job['_id'] %}href="/web/jobs/{{ job['_id'] }}"{% endif %}>{{ job['_id'] }}</a>
        <br>
        {{ job['user'] }}
        <br>
        {{ job['_created'] }}
        <br>
        {{ job['_updated'] }}
    </td>
    <td>
        {{ deployment['module'] }}
        <br>
        {{ deployment['module_path'] }}
        <br>
        {{ deployment['package'] }}
    </td>
    <td>{{ deployment['revision'] }}</td>
    <td>
        <abbr title="{{ deployment['commit_message'] }}">{{ deployment['commit'] }}</abbr>
    </td>
    <td>{{ deployment['timestamp'] }}</td>
    <td>
        <a href="/web/deployments/{{ deployment['_id'] }}/redeploy" title="Deploy again this version" data-toggle="tooltip"><button class="btn btn-raised btn-warning"><span class="glyphicon glyphicon-refresh"></span> Redeploy</button></a>
    </td>
</tr>
{% endfor %}
