{% extends "base.html" %}

{% set page_title = 'Deployment %s' % (deployment['_id'] or '-')  %}

{% block page_header %}
    <ul class="nav nav-stacked action-btns">
        <li>
            <a href="/web/deployments/{{ deployment['_id'] }}/redeploy"><button class="btn btn-raised btn-warning"><span class="glyphicon glyphicon-refresh"></span> Redeploy</button></a>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    {% set app = deployment['app_id'] or {'_id': '', 'name': '-', 'env': '-'} %}
    {% set job = deployment['job_id'] or {'_id': '', 'user': '-', '_created': '-', '_updated': '-'} %}

    <div class="panel panel-default">
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('deployment-id', 'Deployment', deployment['_id']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-app', 'Application', app['name'] + ' (' + app['env'] + ')', '/web/apps/' + app['_id']) }}</a>
                {{ ghost_display_field('deployment-job', 'Job', job['_id'], '/web/jobs/' + job['_id']) }}</a>
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-job__created', 'Created', job['_created']) }}
                {{ ghost_display_field('deployment-job__updated', 'Modified', job['_updated']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-job_user', 'user', job['user']) }}</a>
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-module', 'Module', deployment['module']) }}
                {{ ghost_display_field('deployment-module_path', 'Module Path', deployment['module_path']) }}
            </div>
            <div class="row">
                <label class="control-label col-md-2" for="deployment-package">Package</label>
                <div class="col-md-4" id="deployment-package">
                {% if app['_id'] %}
                    <a href="s3://{{ bucket_s3 }}/ghost/{{ app['name'] }}/{{ app['env'] }}/{{ app['role'] }}/{{ deployment['module'] }}/{{ deployment['package'] }}" target="_blank">{{ deployment['package'] }}</a>
                {% else %}
                    {{ deployment['package'] }}
                {% endif %}
                </div>
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-revision', 'Revision', deployment['revision']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-commit', 'Commit', deployment['commit']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-commit_message', 'Message', deployment['commit_message'], cols=10, labelcols=2) }}
            </div>
            <div class="row">
                {{ ghost_display_field('deployment-timestamp', 'Timestamp', deployment['timestamp']) }}
            </div>
        </div>
    </div>
{% endblock %}
