<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Host health status</strong></h3>
</div>

<div class="health-elt col-md-3">
    <h4><i class="material-icons">multiline_chart</i> CPU</h4>
    <input type="text" value="{{ status['cpu']['percent'] }}" data-angleOffset="-125" data-angleArc="250" data-fgColor="{{ status['cpu']['color'] }}" class="dial">
    <p class="health-info">
        CPU usage: <strong style="color: {{ status['cpu']['color'] }};">{{ status['cpu']['percent'] }}%</strong>
    <br />
        Per CPU: {{ status['cpu']['percpu'] }}
    </p>
</div>
<div class="health-elt col-md-3">
    <h4><i class="material-icons">memory</i> RAM</h4>
    <input type="text" value="{{ status['ram']['percent'] }}" data-angleOffset="-125" data-angleArc="250" data-fgColor="{{ status['ram']['color'] }}" class="dial">
    <p class="health-info">
        {{ "{:.3f}".format(status['ram']['used']) }} GB used / {{ "{:.3f}".format(status['ram']['total']) }} GB total
    <br />
        (<strong>{{ "{:.3f}".format(status['ram']['available']) }} GB available</strong> - {{ "{:.3f}".format(status['ram']['free']) }} GB free - <strong style="color: {{ status['ram']['color'] }};">{{ status['ram']['percent'] }}% used</strong>)
    </p>
</div>
<div class="health-elt col-md-3">
    <h4><i class="fa fa-hdd-o"></i> DISK</h4>
    <input type="text" value="{{ status['disk']['percent'] }}" data-angleOffset="-125" data-angleArc="250" data-fgColor="{{ status['disk']['color'] }}" class="dial">
    <p class="health-info">
        {{ "{:.3f}".format(status['disk']['used']) }} GB used / {{ "{:.3f}".format(status['disk']['total']) }} GB total
    <br />
        (<strong>{{ "{:.3f}".format(status['disk']['free']) }} GB free</strong> - <strong style="color: {{ status['disk']['color'] }};">{{ status['disk']['percent'] }}% used</strong>)
    </p>
</div>
<div class="health-elt col-md-3">
    <h4><i class="fa fa-clock-o"></i> Boot date</h4>
    <p class="health-info">Host up since: {{ status['boot_time'] }}</p>
    <br />
    <br />
    <br />
    <h4><i class="fa fa-wifi"></i> Network</h4>
    <div class="health-network-wrap">
    {% for nic in status['network_io'] %}
        {% if nic != 'lo' %}
        {% set nic_stats = status.network_stats[nic] %}
        <p class="health-info">stats: speed={{ nic_stats.speed}}MB, duplex={{ nic_stats.duplex}}, mtu={{ nic_stats.mtu}}, up={{ "yes" if nic_stats.isup else "no" }}</p>
        {% set nic_io = status.network_io[nic] %}
        <p class="health-info">incoming: bytes={{ nic_io.bytes_recv }}, pkts={{ nic_io.packets_recv }}, err={{ nic_io.errin }}, drops={{ nic_io.dropin }}</p>
        <p class="health-info">outgoing: bytes={{ nic_io.bytes_sent }}, pkts={{ nic_io.packets_sent }}, err={{ nic_io.errout }}, drops={{ nic_io.dropout }}</p>
        {% endif %}
    {% endfor %}
    </div>
</div>

<div class="modal-footer" style="clear:both;"></div>
<script type="text/javascript">
    $(function() {
        $('.dial').knob({
            'readOnly': true,
            'format': function( value ){
                if(value == undefined || isNaN(value)) {
                    value = 0;
                    return value + '%';
                }
                else{
                    return value + '%';
                }
            }
        });
        $(".ghost-status i").each(function() {
            var match = this.className.match(/text-.*/);
            icone = $(this)
            if(match) {
                match.forEach(function(className) {
                    icone.removeClass(className);
                });
            }
        });
        $(".ghost-status i").addClass("text-{{ status['cpu']['label'] }}")
    });
</script>
