{% extends "base.html" %}

{% set page_title = 'Job %s' % (job['job_id'] or job['_id'] or '-')  %}

{% block page_header %}
    <ul class="nav nav-stacked">
        <li>
            <a href="/web/jobs/{{ job['_id'] }}/delete"><button class="btn btn-default" {%- if job['status'] not in ['done', 'failed'] -%}disabled{%-endif-%}>Delete</button></a>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    {% set app = job['app_id'] or {'_id': 'N/A', 'name': 'N/A', 'env': 'N/A'} %}

    <div class="panel panel-default">
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('job-id', 'Job ID', job['job_id'] or '-') }}
                {{ ghost_display_field('job-id', 'Technical ID', job['_id']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('job-created', 'Created', job['_created']) }}
                {{ ghost_display_field('job-updated', 'Modified', job['_updated']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('job-app', 'Application', app['name'] + ' (' + app['env'] + ')', '/web/apps/' + app['_id']) }}</a>
                {{ ghost_display_field('job-command', 'Command', job['command']) }}
            </div>
            <div class="row">
                {{ ghost_display_field('job-env', 'Status', job['status']) }}
                {{ ghost_display_field('job-role', 'User', job['user']) }}
            </div>
        </div>

        <table class="table">
            <caption>Options</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for option in job['options'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ option }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <caption>Modules</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Rev</th>
                    <th>Deploy ID</th>
                </tr>
            </thead>
            <tbody>
                {% for module in job['modules'] %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ module['name'] }}</td>
                        <td>{{ module['rev'] }}</td>
                        <td>{{ module['deploy_id'] or '-' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Job log -->
    <div class="panel panel-default">
        <div class="panel-heading">Logs</div>
        <div id='log' class="panel-body"></div>
    </div>
    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect();
        socket.on('connect', function() {
            socket.emit('job_logging', {log_id: '{{ job['log_id'] }}' });
    });
    socket.on('job', function(data) {
        $('#log').append(data + '<br>');
    });
    </script>
 
{% endblock %}
