{% extends "base.html" %}
{% from "macros.html" import ghost_display_field with context %}
{% from "macros.html" import ghost_abbrev_field with context %}

{% set page_title = 'Job %s' % (job['_id'] or '-')  %}
{% set page_title_class = 'to-left' %}
{% set app = job['app_id'] or {'_id': '', 'name': '-', 'env': '-'} %}
{% set app_color = " [{0}]".format(app['blue_green']['color']) if app.get('blue_green') and app['blue_green'].get('color') else "" %}

{% block page_header %}
    <ul class="nav nav-stacked action-btns to-right">
        <li>
            <a href="/web/jobs/{{ job['_id'] }}/cancel"><button class="btn btn-raised btn-danger" {%- if job['status'] not in cancellable_job_statuses -%}disabled{%-endif-%}><span class="glyphicon glyphicon-ban-circle"></span> Cancel</button></a>
        </li>
        <li>
            <a href="/web/jobs/{{ job['_id'] }}/delete"><button class="btn btn-raised btn-danger" {%- if job['status'] not in deletable_job_statuses -%}disabled{%-endif-%}><span class="glyphicon glyphicon-trash"></span> Delete</button></a>
        </li>
        {% if app['_id'] %}
        <li>
            <a href="/web/apps/{{ app['_id'] }}/command/job/{{ job['_id'] }}"><button class="btn btn-raised btn-default"><span class="fa fa-share"></span> Run more like this</button></a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block page_content %}

    <div class="panel panel-default jobview">
        <div class="panel-heading">Properties</div>
        <div class="panel-body">
            <div class="row">
                {{ ghost_display_field('job-id', 'Job ID', job['_id'] or '-', cols=3, labelcols=1) }}
                {{ ghost_display_field('job-created', 'Created', job['_created'], cols=3, labelcols=1) }}
                {{ ghost_display_field('job-app', 'Application', app['name'] + (app['_id'] and ' (' + app['env'] + ')' + app_color or ''), app['_id'] and '/web/apps/' + app['_id'] or None, cols=3, labelcols=1) }}
            </div>
            <div class="row">
                {{ ghost_display_field('job-status', 'Status', job['status'], cols=3, labelcols=1) }}
                {{ ghost_display_field('job-updated', 'Modified', job['_updated'], cols=3, labelcols=1) }}
                {{ ghost_display_field('job-command', 'Command', job['command'], cols=3, labelcols=1) }}
            </div>
            <div class="row">
                {{ ghost_display_field('job-role', 'User', job['user'], cols=3, labelcols=1) }}
            </div>
            <div class="row">
                {{ ghost_display_field('job-message', 'Message', job['message'], cols=11, labelcols=1) }}
            </div>
            <div class="row">
                <table class="table col-md-6">
                    <caption>Options</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for option in job['options'] %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ ghost_abbrev_field('Job option', option, maxchars=42) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table class="table col-md-6">
                    <caption>Modules</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Rev</th>
                            <th>Deploy ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in job['modules'] %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ module['name'] }}</td>
                                <td>{{ module['rev'] }}</td>
                                <td><a {% if module['deploy_id'] %}href="/web/deployments/{{ module['deploy_id'] }}"{% endif %}>{{ module['deploy_id'] or '-' }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Job log -->
    <div class="panel panel-default jobview log-panel">
        <div class="panel-heading logactions">
            <span>Console Output</span>
            <p>
                <span class="text-muted"><small id="scrollstate"></small>&nbsp;</span>
                <a href="#" id="logScrollTop"><button class="btn btn-simple btn-default btn-xs" title="Scroll top" data-toggle="tooltip"><span class="fa fa-arrow-up"></span></button></a>
                <a href="#" id="logScrollBottom"><button class="btn btn-simple btn-default btn-xs" title="Scroll bottom" data-toggle="tooltip"><span class="fa fa-arrow-down"></span></button></a>
                <a href="#" id="logCollapseAll"><button class="btn btn-simple btn-default btn-xs" title="Collapse log details" data-toggle="tooltip"><span class="fa fa-compress"></span></button></a>
                <a href="#" id="logFullscreen"><button class="btn btn-simple btn-default btn-xs" title="Fullscreen mode" data-toggle="tooltip"><span class="fa fa-window-maximize"></span></button></a>
            </p>
        </div>
        <div id="log" class="panel-body"><p style="text-align: center; padding: 20px;">
            Logs loading...
            <img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading...">
        </p></div>
    </div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript"  src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var currentStatus = "{{ job['status'] }}";

            if (currentStatus == 'init'
             || currentStatus == 'started') {
                setInterval(function() {
                    $.ajax({
                        url: $(location).attr('href'),
                        success: function(job) {
                            if (job.status != currentStatus) {
                                window.location.reload();
                            } else {
                                console.log('Waiting 5s before next check');
                            }
                        }
                    });
                }, 5000); //5s check
            }
        });
    </script>
    <script type="text/javascript" charset="utf-8">
    (function() {
        var scrollActivated = true;
        var textScrolling =  'AutoScroll enabled';
        var textNoScrolling =  'AutoScroll disabled';
        var $log = $('#log');

        $('#logCollapseAll').click(function(evt) {
            evt.preventDefault();
            if ($(this).hasClass('active')) {
                $log.find('.expandable').removeClass('closed');
                $(this).removeClass('active');
                $(this).find('button').attr('title', 'Collapse log details');
            } else {
                $log.find('.expandable').addClass('closed');
                $(this).addClass('active');
                $(this).find('button').attr('title', 'Expand log details');
            }
        });
        $('#logScrollTop').click(function(evt) {
            evt.preventDefault();
            scrollActivated = false;
            $('#logScrollBottom button').addClass('btn-simple');
            $('#scrollstate').html(textNoScrolling);
            $log.animate({ scrollTop: 0 }, "slow");
        });
        $('#logScrollBottom').click(function(evt) {
            evt.preventDefault();
            scrollActivated = !scrollActivated;
            if (scrollActivated) {
                $('#logScrollBottom button').removeClass('btn-simple');
                $('#scrollstate').html(textScrolling);
            } else {
                $('#logScrollBottom button').addClass('btn-simple');
                $('#scrollstate').html(textNoScrolling);
            }
            $log.animate({ scrollTop: $log.get(0).scrollHeight }, "slow");
        });
        $('#logFullscreen').click(function(evt) {
            evt.preventDefault();
            $('#logFullscreen button').toggleClass('btn-simple');
            $('.log-panel').toggleClass('fullscreen');
        });

        if (scrollActivated) {
            $('#logScrollBottom button').removeClass('btn-simple');
            $('#scrollstate').html(textScrolling);
        }

        $log.bind('scroll mousedown wheel DOMMouseScroll mousewheel keyup', function(e){
            if (e.which > 0 || e.type == "mousedown" || e.type == "mousewheel" || e.type == "wheel") {
                scrollActivated = false;
                $('#logScrollBottom button').addClass('btn-simple');
                $('#scrollstate').html(textNoScrolling);
            }
        });

        setInterval(function () {
            if (scrollActivated) {
                $log.scrollTop($log.get(0).scrollHeight);
            }
        }, 1000);

        var socket = io.connect({transports: ['websocket']});
        var last_pos = 0;
        var previous_timespan = false;

        socket.on('connect', function() {
            socket.emit('job_logging', {log_id: "{{ job['log_id'] }}", last_pos: last_pos });
        });
        socket.on('job', function(data) {
            last_pos = data['last_pos'];
            var first_log = last_pos == 0;
            if (last_pos == 0) {
                last_cmd_date = false;
            } else {
                last_cmd_date = new Date($log.find('span.command-title').last().text().substring(0, 20));
            }
            var content = $(data['html']);
            content.each(function(ite) {
                // Content Expandable or not
                hasContent = $(this).find('samp').length > 0;
                if (hasContent) {
                    $(this).addClass('expandable');
                }

                cmd = $(this).find('span.command-title').text();

                // Color Style
                if (cmd.indexOf(': CMD:') == -1) {
                    $(this).addClass('log-info');
                }
                if (cmd.indexOf(': Deployment OK:') > -1
                 || cmd.indexOf(': Build image OK:') > -1) {
                    $(this).addClass('ok');
                }
                if (cmd.indexOf(': Deployment Failed:') > -1
                 || cmd.indexOf('ERROR: ') > -1) {
                    $(this).addClass('failed');
                }

                // Calculate time interval
                cur_cmd_date = new Date(cmd.substring(0, 20));
                if (ite < content.length && last_cmd_date) {
                    timeinterval = ((cur_cmd_date - last_cmd_date) / 1000) + 's';
                }
                last_cmd_date = cur_cmd_date;
                if (previous_timespan) {
                    previous_timespan.prepend(timeinterval);
                }
                previous_timespan = $(this).find('span.timeinterval');
            });

            // Append new log content asynchronously
            setTimeout(function() {
                // Clear log view on first chunk
                if (first_log) {
                  $log.html("");
                }

                // Wrap content in div to limit reflow cost
                var chunk = document.createElement("div");
                $(chunk).html(content);

                // Append new chunk of logs
                $log.append(chunk);

                // Scroll log
                if (scrollActivated) {
                    $log.scrollTop($log.get(0).scrollHeight);
                }
            }, 10);
        });

        $log.on('click', '.expandable em', function(evt) {
            if ($(this).parent().hasClass('closed')) {
                //$log.find('div.panel.expandable').addClass('closed');
                $(this).parent().removeClass('closed');
            } else {
                $(this).parent().addClass('closed');
            }
        });

    })();
    </script>
{% endblock %}
