{% for job in jobs | sort(reverse=True, attribute='_created') %}
    {% set app = job['app_id'] or {'_id': '', 'name': '-', 'env': '-'} %}
<tr class="env-{{ app['env'] }}">
    <th scope="row" class="status status-{{ job['status'] }}"><span class="index"></span></th>
    <td>
        <a href="/web/jobs/{{ job['_id'] }}">{{ job['_id'] }}</a>
    </td>
    <td>
        {{ job['_created'] }}
        <br>
        {{ job['_updated'] }}</td>
    <td>
        <p>
            <a {% if app['_id'] %}href="/web/apps/{{ app['_id'] }}"{% endif %}>{{ app['name'] }} {% if app['_id'] %}({{ app['env'] }}){% endif %}</a>
        </p>
        <p>
        {% if app['_id'] and app.get('blue_green') %}
        {% set color_class = 'info' if app['blue_green'].get('color', 'blue') == 'blue' else 'success' %}
            <span class="sticker label-{{ color_class }}">{{ app['blue_green']['color'] }}</span>
        {% endif %}
        </p>
    </td>
    <td>{{ job['command'] }}</td>
    <td>{{ job['status'] }}</td>
    <td>{{ job['user'] }}</td>
    <td>
        {% for option in job['options'] %}
            {{ option }}<br>
        {% endfor %}
    </td>
    <td>
        {%- if job['command'] in ['deploy', 'redeploy', 'rollback'] -%}
        {% for module in job['modules'] %}
            {%- if module['deploy_id'] -%}
                <a href="/web/deployments/{{ module['deploy_id'] }}" title="{{ module['deploy_id'] }}">{{ module['name'] }} / {{ module['rev'] }}</a>
            {%- else -%}
                {{ module['name'] }} / {{ module['rev'] }}
            {%- endif -%}
            <br/>
        {% endfor %}
        {%- endif -%}
    </td>
    <td>
        <a href="/web/jobs/{{ job['_id'] }}/cancel"><button class="btn btn-raised btn-danger" title="Cancel this job" data-toggle="tooltip" {%- if job['status'] not in cancellable_job_statuses -%}disabled{%-endif-%}><span class="glyphicon glyphicon-ban-circle"></span></button></a>
        <a href="/web/jobs/{{ job['_id'] }}/delete"><button class="btn btn-raised btn-danger" title="Delete this job" data-toggle="tooltip" {%- if job['status'] not in deletable_job_statuses -%}disabled{%-endif-%}><span class="glyphicon glyphicon-trash"></span></button></a>
        {% if app['_id'] %}
        <a href="/web/apps/{{ app['_id'] }}/command/job/{{ job['_id'] }}"><button class="btn btn-raised btn-default" title="Run more like this" data-toggle="tooltip"><span class="fa fa-share"></span></button></a>
        {% endif %}
    </td>
</tr>
{% endfor %}