{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% macro ghost_fieldlist_entry(entry, entry_id_prefix, entry_label, loop_index, form_type, html_placeholder='', refresh_function='') -%}
<tr id="{{ entry_id_prefix }}_{{ loop_index }}" data-{{ entry_id_prefix }}>
    <th scope="row" class="col-md-2">
        <a name="{{ entry_id_prefix }}-{{ loop_index }}" class="anchor">&nbsp</a>
        <span class="index" style="counter-increment: group_entry;">{{ entry_label }}</span>
    </th>
    <td class="col-md-9 {{ form_type }}">
        {% if entry.type == 'FormField' %}
            {% for field in entry if not field.type == 'CSRFTokenField' %}
                {{ wtf.form_field(field, form_type='horizontal', placeholder=html_placeholder) }}
            {% endfor %}
        {% elif entry.type == 'TextAreaField' %}
            {{ wtf.form_field(entry, form_type='horizontal', dropzone='copy s:text/plain', ondrop='dropHandler(event)', placeholder='Drag and drop a text file here') }}
        {% elif entry.type == 'SelectField' and refresh_function %}
            {{ wtf.form_field(entry, form_type='horizontal', placeholder=html_placeholder) }}
        <button title="Refresh select values" class="btn btn-simple btn-xs refresh-select" data-target="select#{{ entry.id }}" data-call="{{ refresh_function }}"><span class="glyphicon glyphicon-refresh"></span></button>
        {% else %}
            {{ wtf.form_field(entry, form_type='horizontal', placeholder=html_placeholder) }}
        {% endif %}
    </td>
    <td class="col-md-1">
        <a class="btn btn-danger btn-simple delete-entry" title="Delete {{ entry_label }}"
           onclick="javascript:ghost_del_entry_from_list(this, '{{ entry_id_prefix }}')">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </td>
</tr>
{%- endmacro %}

{% macro ghost_menulist(fieldlist, group_id_prefix, group_label, entry_id_prefix, entry_label) -%}
<ul class="subnav" id="menu-modules-list">
    {% for entry in fieldlist %}
    <li>
        <a href="#{{ entry_id_prefix }}-{{ loop.index0 }}"><i class="glyphicon glyphicon-move"></i> <span>{{ entry.data['module_name'] or 'New module' }}</span></a>
    </li>
    {% endfor %}
</ul>
{%- endmacro %}

{% macro ghost_fieldlist(fieldlist, group_id_prefix, group_label, entry_id_prefix, entry_label, form_type, html_placeholder='', refresh_function='') -%}
<div class="panel panel-default">
    <div class="panel-heading" style="counter-reset: group_entry;">
        <strong>{{ group_label }}</strong>
        <a class="btn btn-success btn-simple add-entry" title="Add {{ entry_label }}"
           onclick="javascript:ghost_add_entry_to_list('{{ group_id_prefix }}', '{{ entry_id_prefix }}', '{{ entry_label }}')">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <table class="table" id="{{ group_id_prefix }}_list">
        <tbody>
        {% for entry in fieldlist %}
            {{ ghost_fieldlist_entry(entry, entry_id_prefix, entry_label, loop.index0, form_type, html_placeholder, refresh_function) }}
        {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% macro ghost_abbrev_field(name, value, maxchars=10) -%}
{%- set id = get_md5_hash(value) -%}
{%- if value | length > maxchars -%}
    <a href="#script-{{ id }}" data-toggle="modal" data-target="#script-{{ id }}"><abbr>
{%- endif -%}
    {{ value[:maxchars] }}
{%- if value | length > maxchars -%}
    &hellip;</abbr></a>
<!-- Modal -->
<div class="modal fade ghost_abbrev_field" id="script-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="script-{{ id }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Script - <strong>{{ name }}</strong></h4>
            </div>
            <div class="modal-body">
                <div class="script-panel">
                    <textarea id="txt-{{ id }}">{{ value }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endif %}
{%- endmacro %}

{% macro ghost_display_field(id, name, value, href=None, cols=4, labelcols=2) -%}
<label class="control-label col-md-{{ labelcols }}" for="{{ id }}">{{ name }}</label>
<div class="col-md-{{ cols }}" id="{{ id }}">
    {%- if href -%}<a href="{{ href }}">{%- endif -%}
    {{ value }}
    {%- if href -%}</a>{%- endif -%}
</div>
{%- endmacro %}

{% macro ghost_display_protocol_logo(protocol, size=None) -%}
<img height="{{ size or 42 }}" alt="{{ protocol }}" src="{{ url_for('static', filename='img/{}.svg'.format(protocol)) }}?v={{current_revision}}" />
{%- endmacro %}

{% macro ghost_fieldlist_features(form, fieldlist, group_id_prefix, group_label, entry_id_prefix, entry_label, form_type, html_placeholder='', refresh_function='') -%}
<a name="features" class="anchor">&nbsp;</a>
<div class="panel panel-default panel-features">
    <div class="panel-heading" style="counter-reset: group_entry;">
        <strong>{{ group_label }}</strong>
        <a class="btn btn-success btn-simple add-entry" title="Add {{ entry_label }}"
           onclick="javascript:ghost_add_feature_entry_to_list('{{ group_id_prefix }}', '{{ entry_id_prefix }}', '{{ entry_label }}', true, true)">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
        <div class="form-group features-presets-group">
            <label class="control-label" for="features-presets">Feature presets</label>
            <select id="features-presets">
            </select>
            <button class="btn btn-raised btn-success btn-sm feature-import"><i class="glyphicon glyphicon-import"></i>&nbsp;&nbsp;Import</button>
        </div>
    </div>
    <table class="table" id="{{ group_id_prefix }}_list">
        <tbody>
        {% for entry in fieldlist %}
            <tr id="{{ entry_id_prefix }}_{{ loop.index0 }}" data-{{ entry_id_prefix }}>
                <th scope="row" class="col-md-2">
                    <a name="{{ entry_id_prefix }}-{{ loop.index0 }}" class="anchor">&nbsp</a>
                    <span class="index" style="counter-increment: group_entry;">{{ entry_label }}</span>
                    <img height="25" class="feature-provisioner" data-toggle="tooltip" title="{{ (entry.feature_provisioner.data or 'salt')|capitalize }} provisioner" alt="{{ entry.feature_provisioner.data or 'salt' }}" src="{{ url_for('static', filename='img/%s.svg' % (entry.feature_provisioner.data or 'salt')) }}?v={{current_revision }}" data-base-uri="{{ url_for('static', filename='img/') }}[].svg?v={{current_revision }}" />
                </th>
                <td class="col-md-9 {{ form_type }}">
                    <div class="row">
                        <label class="control-label col-lg-4" for="features-{{ loop.index0 }}-view-feature_name">Name</label>
                        <label class="control-label col-lg-8" for="features-{{ loop.index0 }}-view-feature_val">Parameters</label>
                    </div>
                    <div class="row">
                        <p class="col-lg-4"><span class="readonly" id="features-{{ loop.index0 }}-view-feature_name">{{ entry.feature_name.data }}</span></p>
                        <p class="col-lg-8">
                            <span class="readonly" id="features-{{ loop.index0 }}-view-feature_val">
                        {%- if (entry.feature_provisioner.data or 'salt') == 'salt' -%}
                            {{ entry.feature_version.data }}
                        {%- else -%}
                            {{ get_pretty_yaml_from_json(entry.feature_parameters.data) }}
                        {%- endif -%}
                            </span>
                        </p>
                    </div>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-warning btn-simple edit-entry" title="Edit {{ entry_label }}"
                       data-toggle="modal" data-target="#feature-details-{{ loop.index0 }}">
                        <i class="glyphicon">&#xe065;</i>
                    </a>
                    <a class="btn btn-danger btn-simple delete-entry" title="Delete {{ entry_label }}"
                       onclick="javascript:ghost_del_feature_entry_from_list(this, '{{ entry_id_prefix }}')"
                       data-target="#feature-details-{{ loop.index0 }}">
                        <i class="glyphicon">&#xe014;</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for entry in fieldlist %}
    <!-- Modal for feature-{{ loop.index0 }} -->
    <div class="modal fade feature-details-modal" id="feature-details-{{ loop.index0 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFeature{{ loop.index0 }}">
        <div class="modal-dialog feature-details" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabelFeature{{ loop.index0 }}">Feature details of <strong>{{ entry.feature_name.data }}</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="feature_provisioner" data-index="{{ loop.index0 }}">{{ wtf.form_field(entry.feature_provisioner, form_type='horizontal', placeholder=html_placeholder) }}</div>
                    {{ wtf.form_field(entry.feature_name, form_type='horizontal', placeholder=html_placeholder) }}
                    <div data-provisioner-type="salt">
                        {{ wtf.form_field(entry.feature_version, form_type='horizontal', placeholder=html_placeholder) }}
                    </div>
                    <div data-provisioner-type="ansible">
                        {{ entry.hidden_tag() }}
                        <div class="ansible-role-parameters-form-wrapper">
                            <div class="form-group">
                                <label class="control-label col-lg-2">Parameters</label>
                                <div id="ansible-role-parameters-form-{{ loop.index0 }}" class="ansible-role-parameters-form col-lg-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-raised btn-info btn-xs save-feature-details" data-dismiss="modal" aria-label="Close"><i class="fa fa-check"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%- endmacro %}
