<div class="top-right">
    {%- if ui_config.get('home_shortcuts') -%}
    <fieldset class="well the-fieldset">
        <legend class="the-legend">
            <i class="fa fa-share"></i> Shortcuts
        </legend>
        <ul class="nav nav-stacked action-btns">
            {%- for shortcut in ui_config.get('home_shortcuts'): -%}
            <li>
                <a href="{{ shortcut.get('link', '#') }}" title="{{ shortcut.get('description', '') }}" data-toggle="tooltip" data-html="true">
                    <button class="btn btn-raised btn-xs btn-{{ shortcut.get('style', 'default') }}"><span class="glyphicon glyphicon-console"></span>
                        {{ shortcut.get('title', 'Shortcut') }}</button></a>
            </li>
            {%- endfor -%}
        </ul>
    </fieldset>
    {%- endif -%}
    <a class="back-to-top" href="#" data-behavior="scrollTop"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
</div>
