{% extends "base.html" %}

{% set page_title = 'App Deployment - step 1' %}

{% block content %}
<form class="box login" method="POST" action="/web/module-deploy"
    enctype="multipart/form-data">
	<fieldset class="boxBody">

	  <label>Select an App to deploy</label>
      <select name="_id">
       {% for app in apps %}
       <option value="{{app['_id']}}">{{app['name']}}</option>
       {% endfor %}
      </select>
	</fieldset>
	<input type="submit" class="btnLogin" value="Next" tabindex="">
</form>
{% endblock %}
