{% extends "base.html" %}

{% set page_title = 'App Deployment - step 2' %}

{% block content %}
<form class="box login" method="POST" action="/web/create-job"
    enctype="multipart/form-data">
	<fieldset class="boxBody">

	  <label>Select a Module to deploy</label>
      <select name="module-name">
       {% for module in modules %}
       <option>{{module['name']}}</option>
       {% endfor %}
      </select>
      <input type=hidden value={{id}} name="app-id">
	</fieldset>
	<input type="submit" class="btnLogin" value="Deploy" tabindex="">
</form>
{% endblock %}
