{% extends "base.html" %}

{% set page_title = 'App Deployment - step 2' %}

{% block page_content %}
    <form class="form form-horizontal" method="POST" action="/web/create-job" enctype="multipart/form-data">
        <label>Select a Module to deploy</label>
        <select name="module-name">
            {% for module in modules %}
                <option>{{module['name']}}</option>
            {% endfor %}
        </select>

        <input type="hidden" value="{{id}}" name="app-id">

        <input type="submit" value="Deploy" tabindex="">
    </form>
{% endblock %}
