{% extends "base.html" %}

{% set page_title = 'Webhooks' %}

{% block page_header %}
    {% include 'partial_list_top_right.html' %}
    <caption>Sorted by last modification date</caption>

    <ul class="nav nav-stacked action-btns">
        <li>
            <a href="/web/webhooks/create" id="createWebhook"><button class="btn btn-raised btn-primary"><span class="glyphicon glyphicon-plus"></span> Create a Webhook</button></a>
        </li>
        <li>
            <ul class="nav navbar-nav filter-group">
                <li role="presentation" class="dropdown filter">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/web/webhooks" role="button" aria-expanded="false">
                        {{ request.args.get('role') or 'Role' }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-behavior="role">- All -</a></li>
                        {% for role in role_list: %}
                        <li><a data-behavior="role" data-role="{{ role }}">{{ role }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="filter">
                    <div class="input-group" id="global-search">
                        <input type="text" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-simple btn-default btn-xs" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}"

{% block page_content %}
    <div id="tabbed-apps">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% for env in env_list: %}
                {% if env == selected_env: %}
            <li role="presentation" class="active env-{{ env }}"><a data-behavior="env" data-env="{{ env }}" aria-controls="{{ env }}" role="tab" data-toggle="tab">{{ env }}</a></li>
                {% else %}
            <li role="presentation" class="env-{{ env }}"><a data-behavior="env" data-env="{{ env }}" aria-controls="{{ env }}" role="tab" data-toggle="tab">{{ env }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <table class="table tablelist">
        <thead>
            <tr>
                <th>#</th>
                <th>Name / ID</th>
                <th>Created / Modified</th>
                <th>App</th>
                <th>Module</th>
                <th>Events</th>
                <th>Commands</th>
                <th>Revision</th>
                <th>Secret Token</th>
                <th>Actions</th>
        </thead>
        <tbody>
            {% include 'webhook_list_content.html' %}
            <tr id="loadmoreajaxloader">
                <td colspan="7" style="display:none;"><img src="{{ url_for('static', filename='ajax-loader.gif')}}" alt="Loading..."></td>
            </tr>
            <tr id="backtotop">
                <td colspan="7" style="display:none">
                    <a href="#" data-behavior="scrollTop"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
{% endblock %}
{% block page_scripts %}
    <script src="{{url_for('.static', filename='scripts/app-list.js')}}?v={{current_revision}}"></script>
{% endblock %}